<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title></title>

    <link href="/assets/css/main.css" rel='stylesheet' type="text/css">
    <link href="/plugins/swiper/swiper.css" rel='stylesheet' type="text/css">
    <link rel="stylesheet" href="../../assets/css/select.css">

</head>
<body>
    
    <section class="height"></section>
    <section id='app' class='shop_index'>

        <section class="head">
            <a class="back" href="/"></a>
            <p>团购券码</p>
        </section>
        <section class="group bottomBorder" v-clock>
            <div class="groupCon">
                <p><img class="groupImg" src="../../assets/images/my/ic_logo_xxh.png"/> </p>
                <p class="groupTitle">
                    <span>团购券名称</span><br>
                    <span class="grayColor">钱：</span><br>
                </p>
            </div>
            <div class="coupon">
                <span class="groupCode">数量:</span>
            </div>
            <div class="coupon">
                <span class="groupCode">总价：</span>
                <span class="groupCode total">1111</span>
            </div>
        </section>
        <section>
           <button class="ensureBuy"><a href="./groupCode.html">确认买单</a></button>
            <div class="phone">
                <span class="phoneNum">手机号</span>
                <span class="phoneNum com_fr">1111</span>
            </div>
        </section>
    </section>

</body>
    <script data-main="/config" src="/plugins/require/require.js"></script>
    <script src="/controllers/shop/groupBuy.js"></script>
<html>
