<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>专题详情</title>

    <link href="../../assets/css/main.css" rel='stylesheet' type="text/css">
    <!--<link href="/plugins/swiper/swiper.css" rel='stylesheet' type="text/css">-->

</head>
<body>
    
<section class="height"></section>
<section id='app' class='shop_index'>
    <section class="head">
        <a class="back" href="/"></a>
        <p>{{title}}</p>
    </section>
    <section class="subject">
        <section class="margin_top">
            <img :src="banner"class="special_img" alt=""> 
            <!-- <img src="https://img.yingougou.com/yggm10215223791873916057.png" class="special_img" alt="">  -->
        </section>
        <section class="special_txt">{{msg}}</section>
        <section class="preferred">
            <section class="special_title">为你优选</section>
        </section>
    </section>
    <section class="s_shop_list" v-show="shopList.length > 0" >
        <ul>
            <list v-for='a of shopList' return-url="/views/shop/index.html" :a='a'></list>
        </ul>
    </section>

</section>

</body>
    <script data-main="/config" src="/plugins/require/require.js"></script>
    <script src="/controllers/shop/specialDetail.js"></script>
<html>
