<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".ttf" />
            <mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
            <mimeMap fileExtension=".ttf" mimeType="application/x-font-truetype" />
        </staticContent>
    </system.webServer>
</configuration>
