<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>招商页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../assets/css/investment.css">
</head>
<body>
<div class="banner_img">
    <div class="back" onclick="back()">
        <p>返回首页</p>
    </div>
    <div class="banner_con">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="center-heading">
                    <h2>共享商机 /  共赢未来</h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <p class="sub-text margin40 center-heading">
                                共赢未来 购你所想 银个购
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--项目介绍-->
    <section class="con_bg">
        <div class="container">
            <div class="compareLog"><span>“</span>项目介绍</div>
            <div class="content">四川省达观科技有限公司、四川省银瀑宝电子科技有限公司自主研发的“银个购”生态电商互联网工具平台，为生活电商行业提供了 包括商家拓客、商品多渠道销售、原材料采购、用户线上支付、消费资本化、商品物流配送等产业链闭环。消费者通过消费分享模式积攒养老金
                ，便捷提现循环消费。平台集“吃、住、行、游、购、娱”让消费与投资有机结合。 银个购平台整合了供销社、农业银行、中信银行、信用合作社、中石油、中石化、中国邮政物流公司、中国人寿财产保险、功夫时代、成都会展中心等政府及企业核心资源，并携手全国城市合作伙伴共同打造了一个集“会员共享、资源共享、产品共享”三享为一体的综合型消费服务平台
                ，为实体商家及用户提供生活消费综合系统服务。
            </div>
        </div>
    </section>
    <!--合作模式-->
    <div class="sec_title">
        <h3>合作模式</h3>
        <p><small><span></span></small></p>
    </div>
    <div class="public_box">
        <ul class="cooperation cooperation_con1">
            <li class="model city">
                <img src="../../assets/images/investment/circle1.png"></li>
            <li class="model "><span class="triangle"></span><span class="model_title">城市联营模式</span></li>
            <li class="model text_left"><span>城市独享模式：</span>城市合作伙伴缴纳选定城市的平台服务费，即可获得选定城市的独家收益权，通过银个购系统平台进行城市生活电商业务运营。</li>
            <li class="model text_left"><span>代理运营模式：</span>城市合作伙伴缴纳选定城市的平台服务费，并提供地方有价值资源，由银个购项目总部负责拓展区域市场及项目落地运营。</li>
        </ul>
        <ul class="cooperation cooperation_con2">item 2</ul>
        <ul class="cooperation cooperation_con3">item 3</ul>
    </div>
    <!--合作收益-->
    <div class="income_box">
        <div class="sec_title">
            <h3>合作收益</h3>
            <p><small><span></span></small></p>
        </div>
        <div class="public_box">
            <ul class="income income_con1">
                <li class="bank_img"><img src="../../assets/images/investment/icon1.png" height="100" width="124"/></li>
                <li class="bank_txt">工商银行</li>
                <li class="bank_txt">工商银行</li>
            </ul>
            <ul class="income income_con2">item 2</ul>
            <ul class="income income_con3">item 3</ul>
            <ul class="income income_con4">item 4</ul>
            <ul class="income income_con5">item 5</ul>
        </div>
    </div>


    <!--项目优势-->
    <div class="sec_title">
        <h3>项目优势</h3>
        <p><small><span></span></small></p>
    </div>
    <div class="con_box">
        <!--内容1-->
        <div class="trend_con">
            <div class="con_left">
                <p class="con_title">
                    <span class="radius"></span>
                    <span class="con_text">顺应趋势，顺势而为</span>
                </p>
                <p class="content">互联网正以摧枯拉朽之势颠覆实体经营，互联网+实体，势在必行</p>
            </div>
            <div class="con_right">
                <p class="con_title">
                    <span class="radius"></span>
                    <span class="con_text">顺应趋势，顺势而为</span>
                </p>
                <p class="content">互联网正以摧枯拉朽之势颠覆实体经营，互联网+实体，势在必行</p>
            </div>
        </div>
        <!--内容2-->
        <div class="trend_con2">
            <div class="con_left">
                <p class="con_title">
                    <span class="radius"></span>
                    <span class="con_text">自主研发系统，行业领先</span>
                </p>
                <p class="content">拥有自主研发的核心技术支持服务系统，能够为各行业提供拓客全套解决方案</p>
            </div>

            <img class="con_center" src="../../assets/images/investment/pic.png"/>

            <div class="con_right">
                <p class="con_title">
                    <span class="radius"></span>
                    <span class="con_text">顺应趋势，顺势而为</span>
                </p>
                <p class="content">互联网正以摧枯拉朽之势颠覆实体经营，互联网+实体，势在必行</p>
            </div>
        </div>
        <!--内容3-->
        <div class="trend_con">
            <div class="con_left">
                <p class="con_title">
                    <span class="radius"></span>
                    <span class="con_text">平台共建，资源共享</span>
                </p>
                <p class="content">全国城市联营伙伴共享政府资源、营销资源、用户资源、广告资源等诸多资源</p>
            </div>
            <div class="con_right">
                <p class="con_title">
                    <span class="radius"></span>
                    <span class="con_text">顺应趋势，顺势而为</span>
                </p>
                <p class="content">互联网正以摧枯拉朽之势颠覆实体经营，互联网+实体，势在必行</p>
            </div>
        </div>
    </div>
    <div class="sec_title">
        <h3>战略合作伙伴</h3>
        <p><small><span></span></small></p>
    </div>


</div>
</body>
</html>
