<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport">
    <title></title>

    <link href="/assets/css/main.css" rel='stylesheet' type="text/css">

</head>
<body class="bg">
    
    <section id='app' class='member updatephone hasnum'>
        
        <section class="form">
            <form>
                <section class="phone_number">
                    <section class="icon"></section>
                    <p class="num">18600007777</p>
                    <p class="tip">您已绑定以上手机哈</p>
                </section>
                <section class="form_group">
                    <p class="submit">
                        <input type="submit" id='submit' name="submit" value="更换">
                    </p>
                </section>
            </form>
        </section>

    </section>

</body>
    <script data-main="/config" src="/plugins/require/require.js"></script>
    <script src="/controllers/user/hasPn.js"></script>
<html>
