<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>其他登录方式</title>

    <link href="/assets/css/main.css" rel='stylesheet' type="text/css">

</head>
<body>

<section id='app' class='member accountMange has_head'>
    <section class="head">
        <p>登录</p>
        <a class="close" href="/index.html"></a>
    </section>
    <section class="login_other">
        <p class="title">推荐登录方式</p>
        <section class="list">
            <a class="wechat"></a>
            <a class="alipay"></a>
        </section>
        <p class="other_login">
            <a href="accountMange.html">其他登录方式</a>
        </p>
    </section>
</section>

</body>
<script data-main="/config" src="/plugins/require/require.js"></script>
<script src="/controllers/user/login.js"></script>
<html>
