<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>银个购-商铺详情</title>
    
    <link rel="icon" href="/assets/images/icon/logo.png">
    <link href="/assets/css/main.css" rel='stylesheet' type="text/css">

</head>
<body>
    
    <div id='head' class="head shop_index"></div>

    <div class="shop_detail con">
        
        <div class="top">
            <a href="/" class="all_pt">全平台</a>
            <div class="new_com"></div>
            <div class="info" id="info">
                <img alt="" class="b_logo">
                <a class="reply"></a>
                <p class="title"></p>
                <div class="shop_star star"></div>
                <div class="pa">
                    <p class="address"></p>
                    <p class="phone"></p>
                </div>
                <div class="share">
                    <a href="" class="qq"></a>
                    <a href="" class="qq_q"></a>
                    <a href="" class="wechat"></a>
                    <a href="" class="wei"></a>
                    <a href="" class="weibo"></a>
                </div>
            </div>
        </div>

        <div class="cen fn-clear">
            <p class="t" id="ct"></p>
            <div class="coupon_list"></div>
        </div>

        <div class="bot">
            <div class="tab">
                <div class="tab_menu">
                    <a class="s_de active">商户详情</a>
                    <!-- <a id="cmp">评价(0)</a> -->
                </div>
                <div class="tab_group">
                    <div class="group active">
                        <div class="content" id="content"></div>
                    </div>
                    <div class="group comment">
                        <ul></ul>
                        <div class="paging clear"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="footer"></div>

</body>
    <script data-main="/config" src="/plugins/require/require.js"></script>
    <script src="/controllers/shop/index.js"></script>
<html>
