<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>银个购-商铺列表</title>
    
    <link rel="icon" href="/assets/images/icon/logo.png">
    <link href="/assets/css/main.css" rel='stylesheet' type="text/css">

</head>
<body>
    
    <div id='head' class="head"></div>

    <div class="shop_list con">

        <div class="tags"></div>

        <div class="list shop_listd fn-clear" id="list"></div>

        <div class="paging clear"></div>

    </div>

    <div class="footer"></div>

</body>
    <script data-main="/config" src="/plugins/require/require.js"></script>
    <script src="/controllers/shop/list.js"></script>
<html>
