/* ------1.5.2----- */
@font-face {
    font-family:'PingFang-Semibold';
    src: url('../../assets/fonts/PingFang-Semibold.otf') format("OpenType");
}
@font-face {
    font-family: 'DINPro-CondensedBol';
    src: url('../../assets/fonts/DINPro-CondBold.otf') format("OpenType");
}

.contentFree {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
}
.contentFree .tet {
    width: 1.45rem;
    margin: 0 auto;
    padding-top: .42rem;
    padding-bottom: .46rem;
    font-family:PingFangSC-Semibold;
    font-size:.36rem;
    color:#d74a20;
    position: relative;
}
.contentFree .tet::after {
    width: .87rem;
    height: .03rem;
    position: absolute;
    top: 50%;
    margin-top: -.015rem;
    left: -1.25rem;
    content: '';
    background-color: #ffcdbc;
}
.contentFree .tet::before {
    width: .87rem;
    height: .03rem;
    position: absolute;
    top: 50%;
    margin-top: -.015rem;
    right: -1.25rem;
    content: '';
    background-color: #ffcdbc;
}
.disList {
    overflow: hidden;
    width: 6.9rem;
    margin-left: .46rem;
    padding-bottom: .35rem;
}
.disList .item {
    overflow: hidden;
    width: 2rem;
    margin-right: .3rem;
    float: left;
}
.disList .item:nth-child(3) {
    margin-right: 0;
}
.disList .item .tetImg {
    display: block;
    width: 100%;
    height: 1.5rem;
}
.disList .item p:nth-child(2) {
    text-align: left;
    margin-top: .17rem;
    font-size: .26rem;
    height: .37rem;
    line-height: .37rem;
    color:#4e4e4e;
}
.disList .item p:nth-child(3) {
    text-align: left;
    height: .45rem;
    line-height: .45rem;
    font-size: .32rem;
    color:#ff6d42;
}
.disList .item .rmb {
    height: .16rem;
    width: .15rem;
}
.disList .item .price{
    vertical-align: bottom;
}

.new_shopbg {
    background: url("../../assets/images/freeCoupons/3.png");
}
.new_shopbg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-origin:padding-box;
    background-size: 100% 100%;
}
.ad_warp {
    width: 5.9rem;
    height: 8.18rem;
    background: url("../../assets/images/freeCoupons/img_redpacket1.png")  no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 1.7rem;
    left: 50%;
    margin-left: -2.95rem;
}

.shop_name,.shop_fail {
    font-family:PingFangSC-Medium;
    font-size:.28rem;
    height: .4rem;
    width: 3.5rem;
    line-height: .4rem;
    margin: .63rem auto 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow: hidden;
    color:#7a5f46;
}

.get_ticket {
    width: 4.42rem;
    height: .89rem;
    /* padding-bottom:0.2rem; */
    text-align: center;
    line-height: .89rem;
    background: url("../../assets/images/freeCoupons/btn.png") no-repeat;
    background-size: 100% 100%;
    font-family:PingFangSC-Medium;
    font-size:.32rem;
    color:#ffffff;
    margin-top: 1.02rem;
    margin-left: .79rem;
    display: block;
}


.free_price{
    font-family:DINPro-CondensedBol;
    font-size: .85rem;
    color:#bc333a;
    text-align: center;
    height: 1.19rem;
    line-height: 1.19rem;
}
.receive_success{
    font-family:PingFangSC-Semibold;
    font-size: .6rem;
    color:#fffaee;
    text-align:center;
    margin: 1.93rem 0 1.05rem;
    text-shadow: .05rem .05rem .05rem #bc333a;
}

/*领取失败*/
.receive_fail{
    width: 5.9rem;
    height: 8.18rem;
    background: url("../../assets/images/freeCoupons/img_redpacket2.png")  no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 1.7rem;
    left: 50%;
    margin-left: -2.95rem;
}
/* .shop_fail{
    font-family:PingFangSC-Medium;
    font-size:.32rem;
    height: .45rem;
    width: 3.5rem;
    line-height: .45rem;
    margin: .8rem auto 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow: hidden;
    color:#7a5f46;
} */
.fail_txt{
    font-family:PingFangSC-Semibold;
    font-size:.4rem;
    color:#fffaee;
    height: .64rem;
    line-height: .64rem;
    text-align:center;
    margin: 2.73rem 0 .3rem;
}
.receive_repeat{
    font-family:PingFangSC-Regular;
    height: .42rem;
    line-height: .42rem;
    font-size: .3rem;
    color:#fffaee;
    text-align:center;
    margin-top: .2rem;
    /*font-weight: bold;*/
    text-overflow: ellipsis;
    white-space:nowrap;
}
.msg {
    width: 100%;
    position: absolute;
    bottom: 0.45rem;
    left: 0;
    font-size: .3rem;
    color: white;
    text-align: center;
    font-family:PingFangSC-Semibold;
    font-size:.28rem;
}