/* ------1.5.2----- */
@font-face {
    font-family: PingFangSC-Medium;
    src: url('../../assets/fonts/DINPro-CondBold.otf');
}
@font-face {
    font-family: PingFangSC-Regular;
    src: url('../../assets/fonts/LeagueGothic-Regular.otf');
}
@font-face {
    font-family: PingFangSC-Semibold;
    src: url('../../assets/fonts/PingFang-Semibold.otf');
}
.contentFree {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
}
.contentFree .tet {
    width: 1.45rem;
    margin: 0 auto;
    padding-top: .42rem;
    padding-bottom: .46rem;
    font-family:PingFangSC-Semibold;
    font-size:.36rem;
    color:#d74a20;
    position: relative;
}
.contentFree .tet::after {
    width: .87rem;
    height: .03rem;
    position: absolute;
    top: 50%;
    margin-top: -.015rem;
    left: -1.25rem;
    content: '';
    background-color: #ffcdbc;
}
.contentFree .tet::before {
    width: .87rem;
    height: .03rem;
    position: absolute;
    top: 50%;
    margin-top: -.015rem;
    right: -1.25rem;
    content: '';
    background-color: #ffcdbc;
}
.disList {
    overflow: hidden;
    width: 6.9rem;
    margin-left: .46rem;
    padding-bottom: .35rem;
}
.disList .item {
    overflow: hidden;
    width: 2rem;
    margin-right: .3rem;
    float: left;
}
.disList .item:nth-child(3) {
    margin-right: 0;
}
.disList .item .tetImg {
    display: block;
    width: 100%;
    height: 1.5rem;
}
.disList .item p:nth-child(2) {
    text-align: left;
    margin-top: .17rem;
    font-size: .26rem;
    height: .37rem;
    line-height: .37rem;
    color:#4e4e4e;
}
.disList .item p:nth-child(3) {
    text-align: left;
    height: .45rem;
    line-height: .45rem;
    font-size: .32rem;
    color:#ff6d42;
}
.disList .item .rmb {
    height: .16rem;
    width: .15rem;
}
.disList .item .price{
    vertical-align: bottom;
}

.new_shopbg {
    background: url("../../assets/images/freeCoupons/new_shopbg.png");
}
.new_shopbg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-origin:padding-box;
    background-size: 100% 100%;
}
.ad_warp {
    width: 6.3rem;
    height: 6.09rem;
    background: url("../../assets/images/freeCoupons/warp_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 1.22rem;
    left: 50%;
    margin-left: -3.15rem;
}
.hedeImg {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: -.75rem;
    left: 50%;
    margin-left: -.75rem;
}
.hedeImg img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.shop_name {
    font-family:PingFangSC-Medium;
    font-size:.32rem;
    color:#493320;
    height: .45rem;
    width: 3.5rem;
    line-height: .45rem;
    margin: 1.04rem  1.4rem 0 1.4rem;
    text-align: center;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow: hidden;
}
.shop_addr {
    width: 4rem;
    margin: 0 1.15rem;
    overflow: hidden;
    text-align: center;
    font-size: .3rem;
}
/* .shop_addr img {
    float: left;
    height: .33rem;
    width: .24rem;
    margin-top: .05rem;
} */
.shop_addr div {
    display: inline-block;
    max-width: 3.61rem;
    padding-left: .26rem;
    font-family:PingFangSC-Regular;
    font-size:.3rem;
    color:#7a5f46;
    text-align: left;
    position: relative;
}
.shop_addr div img {
    position: absolute;
    top: .05rem;
    left: -.02rem;
    height: .33rem;
    width: .24rem;
}
.tel {
    width: 2.35rem;
    margin: 0.4rem 1.975rem;
    overflow: hidden;
}
.tel .phone{
    display: block;
    width: .36rem;
    height:.36rem;
    padding-right: .1rem;
    float: left;
}
.tel a{
    display: block;
    width: 1.89rem;
    /* font-family:PingFangSC-Regular; */
    font-size:.3rem;
    color:#7a5f46;
    float: left;
    /* text-align: center */
}
.get_ticket {
    width: 5.22rem;
    height: .89rem;
    padding-bottom:0.2rem;
    margin: 0 .54rem;
    text-align: center;
    line-height: .89rem;
    background: url("../../assets/images/freeCoupons/btn.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family:PingFangSC-Medium;
    font-size:.32rem;
    color:#ffffff;
}
.star_warp {
    overflow: hidden;
    padding: .3rem 0 .4rem 0;
    text-align: center;
}
