::-webkit-input-placeholder {
    color: #caad9f;
    font-size: 0.28rem;
}
@font-face {
    font-family: 'shopcoupenFont';
    src: url('../../assets/fonts/LeagueGothic-Regular.otf') format("OpenType");
}
input[type="tel"],
input[type="text"] {
    border: 1px solid #ffc2a3;
    border-radius: 5px;
    padding-left: 0.55rem;
    color: #caad9f;
}

body {
    background-color: #FFFFFF;
    z-index: 1;
}
.shopHdImg ,.deHeade{
    height: 22%;
    overflow: hidden;
}
.warpBg {
    background: url("../../assets/images/newDarinage/bg2.png");
}
.dewarpBg {
    background: url("../../assets/images/newDarinage/bg2.png");
}
.warpBg,.dewarpBg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-origin:padding-box;
    /*background-position: 0-.7rem;*/
    background-size: 100% 100%;
    /*z-index: 2;*/
}
.warpBg .imgWarp,.dewarpBg .imgWarp{
    width: 1.36rem;
}
.imgWarp {
    margin:0 auto;
    height: 1.36rem;
    /*border:1px solid black;*/
    border-radius: 50%;
}
.imgWarp img {
    width: 100%;
    height: 100%;
     border-radius: 50%;
}
.shopName {
      padding-top: 0.2rem;
    margin:0 auto;
    font:0.4rem bold;
    color:#ffffff;
    width: 3.5rem;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow: hidden;
    font-size: .32rem;
}
.main {
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    height: 100%;
}

.shopSum {
    text-align: center;
    margin-top: 5%;
    overflow: hidden;
    height: 60%;
}
.shopSum img {
    width: .44rem;
    height: .44rem;
}
.sumWarp {
    font-family: "shopcoupenFont";
    height: 100%;
    line-height: 100%;
    width: 5.36rem;
/*    font-size: 1.6rem;*/
    margin:0 auto;
    position: relative;
    background-image: url(../../assets/images/newDarinage/quan.png);
    background-size:100% 100%;
}
.sumWarp p {
    color: #28427d;
    height:2rem;
    line-height: 2rem;
    width: 2rem;
    font-size: 1.3rem;
    position: absolute;
    top:50%;
    margin-top: -1rem;
    left:50%;
    margin-left: -1rem;
}
.sumWarp p span {
    color: #28427d;
    font-size: .8rem;
    position: absolute;
    left: -.4rem;
    top: -.2rem;
}
.sumWarp img {
    position: absolute;
    left: 0.1rem;
    top:0.15rem;
}
.sunfo {
    text-align: center;
    height: 35%;
}
.sunfo span{
    /*color: #cfc2c1;*/
    font-size: 0.28rem;
    vertical-align: middle;
}
.sunfo img{
    width: .7rem;
    height: .6rem;
    vertical-align: middle;
    margin-right: -.2rem;
}
.inputWarp {
    margin-top: 2rem
}
.content {
    overflow: hidden;
}
.main .content {
    position: relative;
    z-index: 3;
    width: 100%;
     height: 32%;
}

.inputWarp {
    margin-top: 2rem
}

.gradient {
    background: -moz-linear-gradient(right, #ff9532 0%,#ff6f63  100%);
    background: -webkit-linear-gradient(right, #ff9532 0%,#ff6f63 100%);
    background: -o-linear-gradient(right, #ff9532 0%,#ff6f63 100%);
    background: -ms-linear-gradient(right, #ff9532 0%,#ff6f63 100%);
    background: linear-gradient(to right, #ff9532 0%,#ff6f63 100%);
}


.headeImg {
    text-align: center;
    margin-top: 0.36rem;
}
.headeImg .hdImgWarp {
    border: 1px solid black;
    margin: 0 auto;
    width: 1.36rem;
    height: 1.36rem;
    border-radius: 0.68rem;
}





.succMsImg {
    margin: 0 auto;
    width: 1.7rem;
    height: 1.56rem;
    padding-top: .5rem;
}
.succMsImg img {
    width: 100%;
    height: 100%;
}
.inputWarp p {
    margin-top: .2rem;
    margin-bottom: .63rem;
    font-size: .28rem;
    text-align: center;
    color: black;
}
.checkBtn {
    margin:0 auto;
    color: #ffffff;
    border-radius: .44rem;
    width: 5.4rem;
    height: .88rem;
    text-align: center;
    line-height: 0.88rem;
    font-size: 0.28rem;
}
.botWarp {
    margin-top: .46rem;
    font-size: 0.24rem;
    color: #c7b8b6;
}
.autoImg1 {
    position: absolute;
    left: 0;
    top:1.7rem;
    width: 1.66rem;
    height: 6.8rem;
    /*outline: 1px solid red;*/
    z-index: 20
}
.autoImg2 {
    position: absolute;
    right: 0;
    top:4.7rem;
    width: 1.3rem;
    height: 3.8rem;
    /*outline: 1px solid red;*/
    z-index: 20
}
.autoImg3 {
    position: absolute;
    left: 1.66rem;
    bottom:0;
    width: 1.3rem;
    height: 2rem;
    /*outline: 1px solid red;*/
    z-index: 20   
}
.footer {
    height: 46%;
    /*margin-top: 0.66rem;*/
}
.dowBg {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    position: relative;
}
.dowBtn {
    color: #ffffff;
    border-radius: .44rem;
    width: 4.4rem;
    height: .88rem;
    text-align: center;
    line-height: 0.88rem;
    font-size: 0.28rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2.2rem;
    margin-top:-.44rem;
    z-index: 10
}
.dowBg img {
    width: 100%;
    height: 100%;
}
.footer p {
    margin-top: .46rem;
    font-size: 0.24rem;
    color: #c7b8b6;
}