*{margin: 0;padding: 0}
input, select, textarea {
    -webkit-appearance: none;
     outline: none;
    color: #1c1c1c;
    border: medium none;
}
body {background-color: #fafafa;}
html,body,button, input, select, textarea {font: 14px/1.5 "Microsoft YaHei",tahoma, Srial, helvetica, sans-serif; outline:none; color: #1c1c1c}
.main {position: relative;padding-top: 1.4rem;}
.header span {position: absolute;left: 50%;width: 4.6rem;margin-left: -2rem; text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.header{height:1rem;line-height:1rem;position: fixed;top:0;text-align: center;font-size: .34rem;width: 100%;background-color: white;z-index: 2}
.header .back {position: absolute;left:0;height: 1.4rem;top:50%;margin-top: -.7rem;width: 1.2rem;}
.header .back img {position: absolute;left: 50%;top:50%;width: .26rem;height: .42rem;margin-top: -.21rem;margin-left: -.13rem;}
.content {padding:.3rem;background-color: #fafafa; }
.titel {font-size: .36rem;}

.discount_group {background-image: url("../../assets/images/newDarinage/bg_normal_xxh.png");background-size: 100% 100%;background-repeat: no-repeat;overflow: hidden;padding:.1rem ;}
.discount_group .disLeft {float: left;width: 81%;}
.discount_group .disRight{float: left;width: 19%;position: relative;height:2.6rem;} 
.discount_group .disRight span {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1rem;
	height: 1rem;
	margin-left: -.5rem;
	margin-top: -.5rem;
	text-align: center;
	font-size: .3rem;
}
.info{overflow: hidden;padding-bottom: .2rem;border-bottom: 1px dashed #888888;margin:.2rem .4rem 0 .2rem;}
.info img{width: 1.4rem; height: 1.4rem;margin-right: .4rem; border-radius: 50%;float: left;}
.info .shopName {float: left;}
.shopName p:nth-child(1) {
	font-size: .28rem;
}
.discounted {
	color: #ff6f3d;
}
.discounted span:nth-child(1) {
	font-size: .34rem;
}
.bot {
	overflow: hidden;margin:0 .4rem 0 .2rem;
}
.botL {
	float: left;
	height: .8rem;
	line-height: .8rem;
	color: #888888;
}
.botR {
	float: right;
		height: .8rem;
	line-height: .8rem;
}
.childP {
	margin-left: .2rem;
	font-size: .32rem;
}