
/*选择门店*/
body{ background-color: #f3f5f9}
.select_store_success .header{border-bottom: 0}
.select_store_success .sc_b{margin-bottom: 100rem}
/*.select_store_success .sc_b p{ font-size: 1.4rem; color: #888; background: #f3f5f9; height: 4rem; line-height: 4rem; text-indent: 1rem }*/
.select_store_success .sc_b p span{ padding-left: 1rem}
.select_store_success p .left{float: left;width: 11rem;}
.select_store_success p .center{margin-left: 2rem}
.select_store_success p .right{float: right;width: 7rem;}

/*.select_store_success .sc_b .select_store_con{height:10rem; padding-top: 2rem;margin-bottom: 1rem;background-color: #fff;border-bottom: solid 1px #ccc;}*/
/*.select_store_success .sc_b .select_store_con img{float: left;padding: 1rem;}*/
.select_store_success .sc_b .select_store_con .store{float: left;}
.select_store_success .sc_b  .mange{width:100%;height: 4rem;display:block;text-align: center;background-color: #fff;line-height: 4rem; color: #000;margin-top: 6rem}
.select_store_success .add_store{  position: fixed;  width: 100%;  height: 5rem;  text-align: center;  font-size: 1.7rem;  line-height: 5rem;  box-sizing: border-box;  z-index: 10;  background-color: #ff6f3d;color: #fff;bottom: 0}
a:visited {color: #ff6f3d}	/* 已访问的链接 */
a:link {color: #888}		/* 未访问的链接 */

.btnList {overflow: hidden;width: 100%;}
.btnList li {width: 33.33%;float: left;height: 4rem;line-height: 4rem;color: #888;background-color: #f3f5f9;text-align:center;}
.btnList .active {color: #ff6f3d}
.select_store_con li {position: relative;color: #888;padding: 1rem;}
.select_store_con li:last-child {position: static;}
.select_store_con li:after {position: absolute;bottom:0;left: 0;  content:"";height: .1rem;background-color: #888;width: 100%;}
.select_store_con li .liTop{overflow: hidden;}
.select_store_con li .liTop img {float: left;margin-left: 5%;width: 20%;height: 5rem;margin-top: .5rem;}
.select_store_con li .liTop div {float: left;margin-left: 5%;width:70%;}
.select_store_con li .liTop div p:nth-child(1) {color: black;font-size: 1.8rem;}
.select_store_con li .liTop div p:nth-child(3) {background-color:#fff0eb;color: #ff6f3d;padding:0.2rem 1rem;display: inline-block;border-radius: 2rem;}
.check {margin-top: 2rem;border-top: .1rem dashed #888;padding: 1rem 0;text-align: center;}
.check span{color: #ff6f3d}

.backPage {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background: url(../images/member/ic_bg_back_xxh.png) center center no-repeat;
    background-size: .9rem auto;
    z-index: 30;
    left: 0;
    top: 0;
}

/*团购*/
.group{ position: relative; width: 100%; height: 18rem; margin-top: 5rem; background: white; box-sizing: border-box; z-index: 10}
.bottomBorder{border-bottom: solid 1px #e3e3e3}
.groupCon{width: 100%;height: 120px}
.groupCon .groupImg{float: left;width: 80px;height: 80px;border-radius: 50%;margin-top: 2rem}
.groupCon .groupTitle{float: left;padding-top: 3rem;font-size: 16px}
.coupon{width: 90%;margin:0 auto;border-top:solid 1px #e3e3e3;overflow: hidden}
.couponNum{padding-top: 10px;font-size: 16px}
.backIcon{float: right; margin-top: 4rem; width: 2rem; height: 2rem; margin-right: 3rem;background: url("../../assets/images/member/ic_bg_arrow_xxh.png") no-repeat;background-size: contain}



.shopBox{width: 100%; height: 15rem;background-color: #fff;margin-top: 1rem;overflow: hidden}
.shopCon{width: 90%;  margin:0 auto;}
.shopName{float:left;height:13rem;padding: 2rem 0;font-size: 16px;}
.shop{font-weight: bold;padding-bottom: 2px}
.groupPhone{width: 40px;height: 40px;float: right;background: url("../../assets/images/icon/ic_bg_phone_xxh.png") no-repeat;background-size: cover;margin-top: 50px;}
.grayColor{color: #888888;}
.ensureBuy{width: 90%;height:4rem;display:block;margin: 0 auto;background-color: #ff6f3d;color: #fff;font-size: 2rem;border-radius: 1rem;margin-top: 2rem}

/* 团购券码*/
.groupCode{padding: 1rem;display: inline-block;}
.total{float: right;color: #ff6f3d}

.phone{width: 80%;margin: 2rem auto;color: #ccc}
.com_fr{float: right}

.codeBox{height: 30rem}
.code{text-align: center;padding: 20rem 0}
.codeImg{margin: 2rem 0}
a:visited {color: #fff;}

<<<<<<< Updated upstream
/*商家名称*/
.storeName{ position: relative; width: 100%;margin-top: 5rem; box-sizing: border-box; z-index: 10;overflow: hidden;}
.priceBox{width: 94%;margin:0 auto;overflow: hidden;}
.priceTotal{font-size: 16px;padding-top:1rem; margin-left: 1rem;}
.inputTxt{margin: 1rem 0 1rem 1rem;}
.money{width: 90%;height: 4rem;background-color: #fff;line-height: 4rem;overflow:hidden; box-shadow: 0 0 5px 3px #f7f7f8;margin:1rem;}
.money span {display: block;float: left;width: 8%;text-align:center;}
.money .moneyInput{display: block;float: left;width: 90%;height: 4rem;line-height: 4rem;}
.discount{width: 100%;background-color: #fff;margin-top: 2rem;overflow: hidden}
.priceBox .payMoney{margin-top:.5rem;margin-left: 1rem;margin-bottom: .5rem;vertical-align:middle;}
.priceBox .payMoney:last-child {
    margin-left: 3rem;
}
.priceBox .payMoney span {vertical-align: middle;}
.priceBox .payMoney img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.priceBox .totalNum {
    overflow: hidden;
}
.priceBox .totalNum span {
    float: right;
}
.priceBox .totalNum span:last-child {
    float: left;
}
=======
/*支付*/
.storeName{ position: relative; width: 100%;height: 18rem;margin-top: 5rem; box-sizing: border-box; z-index: 10}
.priceBox{width: 90%;height:6rem;margin:2rem auto}
.priceTotal{font-size: 16px;padding: 2rem 0;}
.inputTxt{margin: 2rem 0}
.money{width: 96%;height: 4rem;background-color: #fff;line-height: 4rem;}
.moneyInput{width: 100%}
.discount{width: 100%;background-color: #fff;overflow: hidden}/*margin-top: 5rem;*/
.payMoney{margin-bottom: 2rem}
>>>>>>> Stashed changes
.orangeColor{color:#ff6f3d}

/*单选按钮*/
input[type=checkbox] {
    isplay: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 0;
    outline: 0 !important;
    line-height: 20px;
    color: #d8d8d8;
    margin-right: .5rem;
}
input[type=checkbox]:after {
    content: "";
    display:block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 14px;
    font-size: 16px;
    color: #fff;
    border: 1px solid #ddd;
    background-color: #fff;
    box-sizing:border-box;

}

input[type=checkbox]:checked:after {
    content: "L";
    transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);
    border-color: #ff6f3d;
    background-color: #ff6f3d;
}

/*团购券详情*/
.symbol{
    font-size: 0;
    border-radius: 20px;
    border:3px solid #ccc;
    vertical-align: middle;
}

.blockColor{
    color: #1c1c1c;
    font-weight: normal;
}

.buying{
    width: 180px;
    height: 100%;
    background-color: rgba(255, 111, 61, 1);
    color: #fff;
    text-align: center;
    font-weight: normal;
}