<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title></title>

    <link href="assets/css/main.css" rel='stylesheet' type="text/css">
    <link href="plugins/swiper/swiper.css" rel='stylesheet' type="text/css">
    <link href="plugins/sui/sm.min.css" rel='stylesheet' type="text/css">
    <meta name="keywords" content="团购，优惠，会员专属，异业联盟，专属，共享，拓客，营销">
    <meta name="description" content="四川省达观科技有限公司、四川省银瀑宝电子科技有限公司自主研发的“银个购”生态电商互联网工具平台，为生活电商行业提供了 包括商家拓客、商品多渠道销售、原材料采购、用户线上支付、消费资本化、商品物流配送等产业链闭环。消费者通过消费分享模式积攒养老金 ，便捷提现循环消费。平台集“吃、住、行、游、购、娱”让消费与投资有机结合。">

    <style>
        body.isWx:after {
            content: "";
            background: url(/assets/images/download/isWx.png) no-repeat;
            background-size: 100% auto;
            position: fixed;
            top:0;
            width: 100%;
            height: 100%;
            z-index: 99;
        }

        body.isWx:before {
            content: "";
            position: fixed;
            background: black;
            opacity: .7;
            width: 100%;
            height: 100%;
            z-index: 98;
        }
        .ishide
        {
            display: none;
        }
    </style>
</head>

<body>
    <section class="height" ></section>
    <section id='app' class='home'>

        <section class="header">
            <section class="address">
                <input value="四川省 成都市 锦江区" id="city-picker">
                <p class="text-sl">{{city}}</p>
            </section>
            <section class="search">
                <input placeholder="请输入商家名称" readonly @click="showSearch">
            </section>
            <a class='user' v-on:click='openMenu()'></a>
        </section>

        <section class="banner swiper-container">
            <section class="swiper-wrapper">
                <section class="swiper-slide" v-clock v-for='a of banner'>
                    <a href="#">
                        <img :src='a.img_path'>
                    </a>
                </section>
            </section>
            <section class="swiper-pagination"></section>
        </section>

        <section class='main'>
            <section class="title">
                热门商户
                <a href="/views/shop/index.html" class="more">更多</a>
            </section>
            <section class="shop" v-clock>
                <section class="hot" id="thot">
                    <a :href="'/views/shop/detail.html?id='+business.business_id+'&returnUrl=index'">
                        <img :src="business.inner_imgs">
                        <section class="text">
                            <img :src="business.logo">
                            <p class="text-sl">{{business.name}}</p>
                        </section>
                    </a>
                </section>
                <section class="swiper-shop">
                    <section class="swiper-wrapper">
                        <section class="swiper-slide shop_list" v-for="a of shop">
                            <a :href="'/views/shop/detail.html?id='+a.business_id+'&returnUrl=index'">
                                <img :src="a.inner_imgs">
                                <p class="text-sl">{{a.name}}</p>
                            </a>
                        </section>
                    </section>
                </section>
            </section>
        </section>

        <section class="main bor-fg">
            <section class="title">
                热门优惠
            </section>
            <section class="discount" v-clock>
                <section class="filter">
                    <section class="filter_group">
                        <p>
                            <span>{{filterType}}</span>
                        </p>
                        <input type="text" readonly :value="filterType" id="filter_type">
                    </section>
                    <section class="filter_group">
                        <p>
                            <span>{{filterShop}}</span>
                        </p>
                        <input type="text" readonly :value="filterShop" id="filter_shop">
                    </section>
                    <section class="filter_group">
                        <p>
                            <span>{{filterAddress}}</span>
                        </p>
                        <input type="text" readonly :value="filterAddress" id="filter_address">
                    </section>
                    <section class="filter_group">
                        <p>
                            <span>{{filterSort}}</span>
                        </p>
                        <input type="text" readonly :value="filterSort" id="filter_sort">
                    </section>
                </section>
                <section class="list">
                    <dis v-for='a of discount' :return-url="'/'" :a='a'></dis>

                    <section class="infinite-scroll-preloader" v-show="scrollIsShow">
                        <section class="preloader"></section>
                    </section>
                </section>
            </section>
        </section>

        <section class="shadow" :class='openShadow' v-on:click="closeMeun()"></section>
        <my :user='user' :is-login="isLogin" :class='openUser'></my>

        <section class="search_p" :class="searchShow">
            <section class="top">
                <a class="reback" @click="returni"></a>
                <a class="delete" @click="clearVal"></a>
                <input type="text" v-model="searchVal" placeholder="请输入商家名称">
                <a class="canle" @click="hots(searchVal)">搜索</a>
            </section>
            <section class="tags">
                <h3 v-show="isSS">热门搜索</h3>
                <section v-show="isSS" class="hot">
                    <a v-for="a of hotSearch" @click="hots(a.hot_business_name)">{{a.hot_business_name}}</a>
                </section>
                <h3 v-show="hisSearch.length != 0 && isSS">历史搜索
                    <a class="delete"></a>
                </h3>
                <section class="history" v-show="isSS">
                    <a v-for="a of hisSearch" @click="hots(a)">{{a}}</a>
                </section>
                <section class="shop_index" v-show="!isSS" :class="isEmpty">
                    <section class="shop_list">
                        <ul>
                            <list v-for='a of shopList' return-url="/" :a='a'></list>
                        </ul>
                        <section v-show="scrollIsShow2" class="infinite-scroll-preloader">
                            <section class="preloader"></section>
                        </section>
                    </section>
                </section>
            </section>
        </section>

        <section class="download" v-show="showDown">
            <!-- 底下悬浮窗 -->
            <div class="close" v-on:click="closeDownLoad"></div>
            <div class="log"></div>
            <div class="font_logo">银个购
                <div class="font_text">想你所购，购你所想</div>
            </div>
            <div class="downbtn" v-on:click="downApp">
                <p v-text="downLoadType"></p>
            </div>
        </section>
    </section>

    <script>
        var _mtac = {};
        (function () {
            var mta = document.createElement("script");
            mta.src = "https://pingjs.qq.com/h5/stats.js?v2.0.4";
            mta.setAttribute("name", "MTAH5");
            mta.setAttribute("sid", "500539899");

            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(mta, s);
        })();
    </script>
</body>
<script data-main="config" src="plugins/require/require.js"></script>
<script src="/plugins/zepto/zepto.js"></script>
<script src="/plugins/sui/sm.min.js"></script>
<script src="/plugins/sui/city-picker.js"></script>
<script src="https://webapi.amap.com/maps?v=1.3&key=a9506f1b1e66b4e85d7e15c8461ca4d4&plugin=AMap.CitySearch"></script>
<script src="controllers/index.js"></script>
<html>