<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>银个购</title>
    <link href="../../assets/css/main.css" rel='stylesheet' type="text/css">
    <link rel="stylesheet" href="../../theme/drainage/drainage.css">
</head>

<body>
    <div id="app" class="main">
        <div class="backImg"></div>
        <div class="header">
            <div class="banner">
                <div class="banner_logo">
                    <div class="inner_img"><img v-bind:src="img" alt="title" /></div>
                    <div class="title" v-text="b_n"></div>
                    <!-- <div class="title_img"><img v-bind:src="shopcoupen.title_log" alt="title" /></div> -->
                </div>
            </div>
        </div>
        <div class="content">
            <div class="shopcoupen_notes">
                <div class="img_money_nologin"></div>

                <div class="img_quan_nologin">
                    <div class="shopcoupn_use_how" v-text="how"></div>
                    <div class="shopcoupn_use_all" >{{all}}<br>{{time}}</div>
                    <div class="shopcoupn_use_time"></div>
                </div>
                <div class="shop_area_nologin" v-text="a_n"></div>

            </div>
            <div class="coupen_verification_nologin">
                <div class="coupen_phone"><input type="tel" placeholder="请输入手机号" v-model="phone" /></div>
                <div class="coupen_verification_code">
                    <input type="text" placeholder="请输入验证码" v-model="verificationCode" />
                    <input type="button" value="获取验证码" v-on:click="getVerification" t="0" id="verifia" />
                    <!--根据切图效果改为div-->
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer_btn_nologin">
                <img src="../../assets/images/darinage/btn_lq@2x.png" alt="lingqu" v-on:click="verificationSubmit()">
            </div>
            <!-- <p class="activitydescription_nologin">活动说明</p> -->
        </div>
    </div>
</body>
<script data-main="/share/config" src="/share/plugins/require/require.js "></script>
<script src="/share/controllers/drainage/drainage.js "></script>
</html>