<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <title></title>

    <link href="assets/css/main.css" rel='stylesheet' type="text/css">
    <!-- <link href="plugins/swiper/swiper.css" rel='stylesheet' type="text/css"> -->

</head>

<body>
    <section id='app' class='home'>

        <div class="header">
            <div class="address" v-on:click="payment">
                <p class="text-sl">afddfdsf</p>
            </div>
            <div class="search">
                <input placeholder="" id='shopName'>
            </div>
            <a class='user'></a>
        </div>

        <!-- <section class="banner swiper-container">
            <section class="swiper-wrapper">
                <section class="swiper-slide" v-for='a of banner' v-clock><a href="#"><img src='assets/images/index/demo2.jpg'></a></section>
            </section>
            <section class="swiper-pagination"></section>
        </section>

        <div class='main'>
            <div class="title">
                热门商户
                <a href="#" class="more">更多</a>
            </div>
            <div class="shop" v-clock>
                <div class="hot">
                    <img src="assets/images/index/demo3.jpg">
                    <div class="text">
                        <img src="assets/images/index/icon_demo.png">
                        <p class="text-sl">{{shop[0].title}}</p>
                        <span>{{shop[0].distance}}</span>
                    </div>
                </div>
                <div class="shop_list" v-for="a of shop">
                    <img src="assets/images/index/icon_demo.png">
                    <span>{{a.distance}}</span>
                    <p class="text-sl">a.title}}</p>
                </div>
            </div>
        </div> -->
    </section>

</body>
<script data-main="config" src="plugins/require/require.js"></script>
<!-- <script src="controllers/index.js"></script>  -->
 <script src="test.js"></script> 
<html>
<html>
<html>