<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>招商页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../assets/css/investment.css">
</head>
<body>
<div class="banner_img">
    <div class="back" onclick="back()">
        <p>返回首页</p>
    </div>
    <div class="banner_con">
        <div class="center-heading">
            <h2>共享商机 <span class="line"></span>共赢未来</h2>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p class="sub-text margin40 center-heading">
                        想你所想&nbsp; 购你所想&nbsp;&nbsp;<span style="color:#47cfff;">银个购</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--项目介绍-->
<section class="con_bg">
    <div class="container">
        <div class="compareLog"><span><img src="../../assets/images/investment/shape.png" /></span>项目介绍</div>
        <div class="content"><span style="font-size: 18px">四川省达观科技有限公司</span>自主研发的“银个购”生态电商互联网工具平台，为生活电商行业提供了包括商家拓客
            、商品多渠道销售、原材料采购、用户上线支付、消费资本化、商品物流配送等产业链闭环。银个购品台整合了供销社、农业银行、中信银行、信用合作社、
            中石油、中石化、中国邮政物流公司、中国人寿财产保险、功夫时代、成都会展中心等政府资源及企业核心资源，并携手全国城市合作伙伴共同打造了一个
            集“会员共享、资源共享、产品共享”三享为一体的综合型消费服务平台，为实体商家及用户提供生活消费综合系统服务。
        </div>
    </div>
</section>
<!--合作模式-->
<div class="sec_title">
    <h3>合作模式</h3>
    <p><small><span></span></small></p>
</div>
<div class="public_box marginTop">
    <ul class="cooperation cooperation_con1">
        <li class="marginTop">
            <div class="img_box"> </div>
        </li>
        <li class="model "><span class="triangle"></span><span class="model_title">城市联营模式</span></li>
        <li class="model text_left"><span>城市独享模式：</span>城市合作伙伴缴纳选定城市的平台服务费，即可获得选定城市的独家收益权，通过银个购系统平台进行城市生活电商业务运营。</li>
        <li class="model text_left"><span>代理运营模式：</span>城市合作伙伴缴纳选定城市的平台服务费，并提供地方有价值资源，由银个购项目总部负责拓展区域市场及项目落地运营。</li>
    </ul>
    <ul class="cooperation cooperation_con2">
        <li class="marginTop">
            <div class="img_box"> <img src="../../assets/images/investment/circle2.png"></div>
        </li>
        <li class="model "><span class="triangle"></span><span class="model_title">股权投资模式</span></li>
        <li class="model text_left" style="text-align: center">项目投资人通过资金投资获得银个购项目股份，享受项目平台总体盈利分润，并可获得企业上市后的溢价收益。</li>
    </ul>
    <ul class="cooperation cooperation_con3">
        <li class="marginTop">
            <div class="img_box"> <img src="../../assets/images/investment/circle3.png"></div>
        </li>
        <li class="model "><span class="triangle"></span><span class="model_title">资源投资模式</span></li>
        <li class="model text_left" style="text-align: center">项目合伙人可以通过提供用户资源、商家资源、市场营销资源、地方政企资源等方式与银个购达成业务合作，并根据资源产出获得交易佣金的 5% ~ 10% 分润。</li>
    </ul>
</div>
<!--合作收益-->
<div class="income_box">
    <div class="sec_title">
        <h3>合作收益</h3>
        <p><small><span></span></small></p>
    </div>
    <div class="public_box">
        <ul class="income income_con1">
            <li class="income"><img src="../../assets/images/investment/icon1.png"/></li>
            <li class="income title">招商佣金收益</li>
            <li class="income con">项目联营合作伙伴可向所授权城市的下级地市招募项目合伙人，并可100%获得所收取的银个购平台服务费收益。</li>
        </ul>
        <ul class="income income_con2">
            <li class="income"><img src="../../assets/images/investment/icon2.png"/></li>
            <li class="income title">交易佣金收益</li>
            <li class="income con">项目联营合作伙伴可获得授权区域平台交易佣金的30%分润收益。</li>
        </ul>
        <ul class="income income_con3">
            <li class="income"><img src="../../assets/images/investment/icon3.png"/></li>
            <li class="income title">线上广告收益</li>
            <li class="income con">项目联营合作伙伴可获得银个购线上产品广告位销售所产生的线上广告70%收益。</li>
        </ul>
        <ul class="income income_con4">
            <li class="income"><img src="../../assets/images/investment/icon4.png"/></li>
            <li class="income title">产品资源收益</li>
            <li class="income con">项目联营合作伙伴可获得银个购线上平台已完成或未来引入的保险产品、农特优产品、小额投资产品等增值产品所产生的收益分润。</li>
        </ul>
        <ul class="income income_con5">
            <li class="income"><img src="../../assets/images/investment/icon5.png"/></li>
            <li class="income title">资本溢价收益</li>
            <li class="income con">2019年启动IPO，根据项目联营合作伙伴的经营状况及企业项目布局，获得上市后的资本溢价收益。</li>
        </ul>
    </div>
</div>

<!--项目优势-->
<div class="sec_title">
    <h3>项目优势</h3>
    <p><small><span></span></small></p>
</div>
<div class="con_box">
    <!--内容1-->
    <div class="trend_con">
        <div class="con_left">
            <p class="con_title">
                <span class="radius"></span>
                <span class="con_text">顺应趋势，顺势而为</span>
            </p>
            <p class="content">互联网正以摧枯拉朽之势颠覆实体经营，互联网+实体，势在必行</p>
        </div>
        <div class="con_right">
            <p class="con_title">
                <span class="radius"></span>
                <span class="con_text">超值投资，超高回报</span>
            </p>
            <p class="content">超低价格锁定一个区域，一年保守翻倍受益</p>
        </div>
    </div>
    <!--内容2-->
    <div class="trend_con2">
        <div class="trend_left">
            <p class="con_title">
                <span class="radius"></span>
                <span class="con_text">自主研发系统，行业领先</span>
            </p>
            <p class="content">拥有自主研发的核心技术支持服务系统，能够为各行业提供拓客全套解决方案</p>
        </div>
        <div class="clear"></div>
        <div class="con_center"></div>

        <div class="trend_right">
            <p class="con_title">
                <span class="radius"></span>
                <span class="con_text">一次投资，终身受益</span>
            </p>
            <p class="content">通过银个购平台获取用户最大数据，增值产品等资源，享受终身消费受益</p>
        </div>
        <div class="clear"></div>
    </div>
    <!--内容3-->
    <div class="trend_con">
        <div class="con_left">
            <p class="con_title">
                <span class="radius"></span>
                <span class="con_text">平台共建，资源共享</span>
            </p>
            <p class="content">全国城市联营伙伴共享政府资源、营销资源、用户资源、广告资源等诸多资源</p>
        </div>
        <div class="con_right">
            <p class="con_title">
                <span class="radius"></span>
                <span class="con_text">最具实力，合作伙伴</span>
            </p>
            <p class="content">与银个购平台携手供销社、中石油、中石化、中信银行、工商银行、农业银行、信用合作社、中国邮政物流公司、中国人寿财产保险、功夫时代、成都会展中心等政企资源，创造更高品牌价值</p>
        </div>
    </div>
</div>
<!--战略合作伙伴-->
<div class="sec_title">
    <h3>战略合作伙伴</h3>
    <p><small><span></span></small></p>
</div>
<div class="partner_box">
    <ul class="item item-1">
        <li class="bank_img">
            <img src="../../assets/images/investment/symbol1.png"/>
        </li>
        <li class="bank_txt">工商银行</li>
    </ul>
    <ul class="item item-2">
        <li class="bank_img">
            <img src="../../assets/images/investment/symbol2.png"/>
        </li>
        <li class="bank_txt">中信银行</li>
    </ul>
    <ul class="item item-3">
        <li class="bank_img">
           <img src="../../assets/images/investment/symbol3.png"/>
        </li>
        <li class="bank_txt">农业银行</li>
    </ul>
    <ul class="item item-4">
        <li class="bank_img">
            <img src="../../assets/images/investment/symbol4.png"/>
        </li>
        <li class="bank_txt">阳光保险</li>
    </ul>
    <ul class="item item-5">
        <li class="bank_img">
            <img src="../../assets/images/investment/symbol5.png"/>
        </li>
        <li class="bank_txt">邮政物流</li>
    </ul>
</div>

<div class="partner_box">
    <ul class="item item-1">
        <li class="bank_img">
            <img src="../../assets/images/investment/symbol6.png"/>
        </li>
        <li class="bank_txt">中石油</li>
    </ul>
    <ul class="item item-2">
        <li class="bank_img">
            <img src="../../assets/images/investment/symbol7.png"/>
        </li>
        <li class="bank_txt">中国财产保险</li>
    </ul>
    <ul class="item item-3">
        <li class="bank_img">
            <img src="../../assets/images/investment/symbol8.png"/>
        </li>
        <li class="bank_txt">西南石油大学</li>
    </ul>
    <ul class="item item-4">
        <li class="bank_img">
            <img src="../../assets/images/investment/symbol9.png"/>
        </li>
        <li class="bank_txt">中石化</li>
    </ul>
    <ul class="item item-5">
        <li class="bank_img">
            <img src="../../assets/images/investment/symbol10.png"/>
        </li>
        <li class="bank_txt">四川大学</li>
    </ul>
</div>

<div class="partner_box">
    <ul class="item item-1">
        <li class="bank_img">
            <img src="../../assets/images/investment/symbol11.png"/>
        </li>
        <li class="bank_txt">绿色有机</li>
    </ul>
    <ul class="item item-2">
        <li class="bank_img">
            <img src="../../assets/images/investment/symbol2.png"/>
        </li>
        <li class="bank_txt">中国供销合作社</li>
    </ul>
    <ul class="item item-3">
        <li class="bank_img">
            <img src="../../assets/images/investment/symbol3.png"/>
        </li>
        <li class="bank_txt">西部博览城</li>
    </ul>
    <ul class="item item-4">
        <li>
            <img src="../../assets/images/investment/symbol14.png" height="35" width="113" style="margin-left: 24px"/>
            <!--<img src="../../assets/images/investment/symbol14.png"/>-->
        </li>
    </ul>
    <ul class="item item-5">
        <li class="bank_img">
            <img src="../../assets/images/investment/symbol15.png"/>
        </li>
        <li class="bank_txt">功夫时代</li>
    </ul>
</div>
<!--底部-->
<div class="footer_img"></div>
<div class="footer">
    <div class="foot">
        <div class="left">
            <div class="btns">
                <a href="../../views/enter/login.html">商家入驻</a>
                <a href="../../views/user/login.html" class="applyf">申请成为商家发展人</a>
                <a href="../about.html" class="last ">关于我们</a>
            </div>
            <div class="contact">
                <p class="text">
                    <span>联系我们</span>周一至周五 9:00-18:00</p>
                <p><span class="tel"></span>028-86119887</p>
            </div>
        </div>
        <div class="code">
            <p class="code_box">
                <img src="../../assets/images/investment/gzhewm.jpg" height="280" width="280"/>
                <span class="WeChat">关注微信公众号</span>
            </p>
            <p class="code_box">
                <img src="../../assets/images/investment/ewm.png" height="280" width="280"/>
                <span class="WeChat" style="margin-top: 26px;">下载APP</span>
            </p>
        </div>
    </div>

</div>
<div class="Copyright">
    <p>蜀ICP备17024697号   四川省达观科技有限公司   版权所有<br>
        Copyright @ 2017-2025 AII Rights Reserved
    </p>
</div>

<!--js代码-->
<script type="text/javascript">
    window.meInfo = null;
    if ($.fn.getCookie("member_id")) {
        $.fn.getData({
            url: '/member/getMemberExpanderInfo',
            data: {
                member_id: $.fn.getCookie("member_id")
            },
            result: function (data) {

                if (data.status == "success") {
                    meInfo = data.data;
                    $(".apply,.applyf").click(function (event) {
                        window.open("/views/personal/myCard.html", "_self");
                    });
                } else {
                    $(".apply,.applyf").applyPeople();
                }
            }
        });
    } else {
        $(".apply,.applyf").click(function (event) {
            window.open("/views/user/login.html", "_self");
        });
    }
    function back() {
        window.open("/index.html", "_self");
    }
</script>

</body>
</html>
