<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport">
    <title></title>

    <link href="/assets/css/main.css" rel='stylesheet' type="text/css">

</head>
<body class="bg">
    
    <section id='app' class='member userinfo seting has_head'>
        
        <section class="head">
            <a href="/index.html?my=show" class="back"></a>
            <p>设置</p>
        </section>

        <section class="info">
            <section class="group">
                <a @click="disShow='show'">
                    <label>基本设置</label>
                </a>
            </section>
            <section class="group">
                <a @click="fbShow='show'">
                    <label>用户反馈</label>
                </a>
            </section>
            <section class="group">
                <a @click="aboutusShow='show'">
                    <label>关于我们</label>
                </a>
            </section>
        </section>
        
        <a @click="loginOut" class="login_out">退出登录</a>
        <section :class="['shadow',isShowShadow?'show':'']"></section>
        <popup :a='popup'></popup>

        <section class="sub_page cs_type" :class="disShow">
            <section class="head">
                <a class="back" @click="disShow=''"></a>
                <p>基本设置</p>
            </section>
            
            <form>
                <p>优惠券选择设置</p>
                <section class="form_group">
                    <p class="radio">
                        <input type="radio" checked name="radio" id="ra1" @change="radio(0)">
                        <label>系统自动推荐最优优惠券</label>
                    </p>
                </section>
                <section class="form_group">
                    <p class="radio">
                        <input type="radio" name="radio" id="ra2" @change="radio(1)">
                        <label>每次手动选择最优优惠券</label>
                    </p>
                </section>
                <a @click="update" class="btn_submit">确认修改</a>
            </form>
        </section>

        <section class="sub_page feedback" :class="fbShow">
            <section class="head">
                <a @click="fbShow=''" class="back"></a>
                <p>用户反馈</p>
                <a class="com" @click="myFk">我的反馈</a>
            </section>
            
            <section class="con">
                <p class="text">
                    <textarea name="" v-model="content" maxlength="200" @input="textarea" placeholder="说点什么..."></textarea>
                    <span>{{textSize}}</span>
                </p>
                <section class="form_group img_loader">
                    <p class="label">
                        <label>上传图片(3张)</label>
                    </p>
                    <uploader :get-file-han="getData" :max-length='3'></uploader>
                </section>
                <a @click="send" class="btn_submit">发送</a>
            </section>
        </section>

        <section class="sub_page2 myfb" :class="myfbShow">
            <section class="head">
                <a class="back" @click="myfbShow=''"></a>
                <p>我的反馈</p>
            </section>
            
            <section class="con">
                <a v-for='a of list' @click="getfbDetail(a.member_feedback_id)"><feedback :a="a"></feedback></a>
            </section>
        </section>

        <section class="sub_page3 myfb_detail" :class="myfbdShow">
            <section class="head">
                <a class="back" @click="myfbdShow=''"></a>
                <p>我的反馈</p>
            </section>
            
            <section class="con">
                <section class="top">
                    {{fbDetail.zjTime}}
                    <span class="status">{{fbDetail.status==0?'待处理':'已处理'}}</span>
                </section>
                <section class="bot">
                    <p>{{fbDetail.content}}</p>
                    <p class="img_list">
                        <img v-for='a of fbDetail.imgs' :src="a" alt="">
                    </p>
                </section>
            </section>
        </section>

        <section class="sub_page about_us" :class="aboutusShow">
            <section class="head">
                <a class="back" @click="aboutusShow=''"></a>
                <p>关于我们</p>
            </section>
            
            <section class="con">
                <section class="top">
                    <img src="/assets/images/my/ic_logo_xxh.png" alt="">
                    银个购 v1.0
                </section>
                <section class="cen">
                    <p class="arow" @click="aboutustShow='show'">软件使用许可协议</p>
                </section>
            </section>

            <section class="bot">
                蜀ICP备17024697号 四川省达观科技有限公司 版权所有
                <br>
                Copyright @ 2017-2025 AII Rights Reserved
            </section>
        </section>

        <section class="sub_page2 about_us_t" :class="aboutustShow">
            <section class="head">
                <a class="back" @click="aboutustShow=''"></a>
                <p>银个够用户协议</p>
            </section>
            
            <section class="con">
                <p>银个购用户协议</p>
                <p>银个购（www.yingougou.com）所提供的各项服务的所有权和运作权均归四川省达观科技有限公司（以下简称“达观”）所有。银个购用户注册协议（以下简称“本协议”）系由银个购用户与达观就银个购的各项服务所订立的相关权利义务规范。因此，请于注册成为银个购会员前，确实详细阅读本协议的所有内容，当用户勾选“已阅读并同意相关“银个购服务协议”并点击注册后，即视为同意本协议的所有条款并愿受其约束，成为银个购会员。</p>
                <p>达观有权对本协议条款进行修改，修改后的协议一旦公布即有效代替原来的协议。用户可随时查阅最新协议。每次协议更新后，用户会在下一次登录银个购时，收到“同意用户注册协议”的提示。用户应仔细阅读协议，当用户点击“登录”后，即视为用户同意接受更新版协议 。如用户不同意更新版协议，可以停止接受银个购依据本协议提供的服务。</p>
                <p>一、会员注册</p>
                <p>1. 费用：在本站注册无须任何费用。</p>
                <p>2. 资料填写：</p>
                <p>1）用户提供的注册资料，用户同意：</p>
                <p>（1）提供合法、真实、准确、详尽的个人资料；。</p>
                <p>（2）如有变动，及时更新会员资料。如果用户提供的注册资料不合法、不真实、不准确、不详尽的，用户需承担因此引起的相应责任及后果，并且达观保留终止用户使用银个购各项服务的权利。</p>
                <p>（3）允许银个购不定时向您的电子邮箱和通讯设备发送信息。</p>
                <p>二、服务的提供、修改及终止</p>
                <p>1、用户在接受银个购各项服务的同时，同意接受银个购提供的各类信息服务。用户在此授权达观可以向其电子邮件、手机、通信地址等发送商业信息。 用户有权选择不接受银个购提供的各类信息服务，并进入银个购相关页面进行更改。</p>
                <p>2、银个购保留随时修改或中断服务而不需通知用户的权利。银个购有权行使修改或中断服务的权利，不需对用户或任何无直接关系的第三方负责。</p>
                <p>3、用户对本协议的修改有异议，或对银个购的服务不满，可以行使如下权利：</p>
                <p>（1）停止使用银个购的网络服务；</p>
                <p>（2）通过客服等渠道告知银个购停止对其服务。结束服务后，用户使用银个购络服务的权利立即终止。在此情况下，银个购没有义务传送任何未处理的信息或未完成的服务给用户或任何无直接关系的第三方。</p>
                <p>三、会员隐私制度</p>
                <p>1、本协议所称之银个购用户信息是指符合法律、法规及相关规定，并符合下述范围的信息：</p>
                <p>（1）用户注册银个购时，向银个购提供的个人信息；</p>
                <p>（2）用户在使用银个购服务、参加网站活动或访问网站网页时，银个购自动接收并记录的用户浏览器端或手机客户端数据，包括但不限于IP地址、网站Cookie中的资料及用户要求取用的网页记录；</p>
                <p>（3）银个购从商业伙伴处合法获取的用户个人信息；</p>
                <p>（4）其它银个购通过合法途径获取的用户个人信息。</p>
                <p>2、银个购承诺：</p>
                <p>非经法定原因或用户事先许可，银个购不会向任何第三方透露用户的密码、姓名等非公开信息</p>
                <p>3、在下述法定情况下，用户的个人信息将会被部分或全部披露：</p>
                <p>（1）经用户同意向用户本人或其他第三方披露；</p>
                <p>（2）根据法律、法规等相关规定，或行政机构要求，向行政、司法机构或其他法律规定的第三方披露；</p>
                <p>（3）其它银个购根据法律、法规等相关规定进行的披露。</p>
                <p>四、用户的用户名、密码和安全性</p>
                <p>1、用户有权自行创建、修改昵称。用户名和昵称的命名及使用应遵守相关法律法规并符合网络道德。用户名和昵称中不能含有任何侮辱、威胁、淫秽、谩骂<p>等侵害他人合法权益的文字。</p>
                <p>2、用户一旦注册成功，成为银个购的会员，将得到用户名（用户手机号）和密码，并对以此组用户名和密码登入系统后所发生的所有活动和事件负责，自行承担一切使用该用户名的言语、行为等而直接或者间接导致的法律责任。</p>
                <p>3、用户有义务妥善保管用户名和密码，用户将对用户名和密码安全负全部责任。因用户原因导致用户名或密码泄露而造成的任何法律后果由用户本人负责。</p>
                <p>4、用户密码遗失的，可以通过手机号+验证码方式重置密码，用户若发现任何非法使用用户名或存在其他安全漏洞的情况，应立即告知银个购。</p>
                <p>五、用户权利</p>
                <p>（1）用户有权在注册并登录后对站内商户发布客观、真实、亲身体验的点评信息；</p>
                <p>（2）用户有权根据网站相关规定，在发布点评信息等贡献后，取得银个购给予的奖励（如贡献值和/或积分兑换等）；</p>
                <p>（3）用户有权修改其个人账户中各项可修改信息，自行选择昵称和录入介绍性文字，自行决定是否提供非必填项的内容；</p>
                <p>（4）用户有权根据网站相关规定，获得银个购给与的奖励（如贡献值、积分等）；</p>
                <p>（5）用户有权参加银个购组织提供的各项线上、线下活动；</p>
                <p>（6）用户有权在银个购上自行浏览、下载和使用优惠代码。</p>
                <p>（7）用户有权下载安装银个购手机客户端并使用其功能。</p>
                <p>（8）用户有权根据银个购站规定，享受银个购提供的其它服务。</p>
                <p>六、用户义务</p>
                <p>1、不得利用本站危害国家安全、泄露国家秘密，不得侵犯国家社会集体的和公民的合法权益，不得利用本站制作、复制和传播下列信息：</p>
                <p>（1）煽动抗拒、破坏宪法和法律、行政法规实施的；</p>
                <p>（2）煽动颠覆国家政权，推翻社会主义制度的；</p>
                <p>（3）煽动分裂国家、破坏国家统一的；</p>
                <p>（4）煽动民族仇恨、民族歧视，破坏民族团结的；</p>
                <p>（5）捏造或者歪曲事实，散布谣言，扰乱社会秩序的；</p>
                <p>（6）宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；</p>
                <p>（7）公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；</p>
                <p>（8）损害国家机关信誉的；</p>
                <p>（9）其他违反宪法和法律行政法规的；</p>
                <p>（10）进行商业广告行为的。</p>
                <p>七、版权说明</p>
                <p>任何用户接受本注册协议，即表明该用户主动将其在任何时间段在本站发表的任何形式的信息的著作财产权，包括并不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及应当由著作权人享有的其他可转让权利无偿独家转让给银个购运营商所有，同时表明该用户许可银个购有权利就任何主体侵权而单独提起诉讼，并获得全部赔偿。 本协议已经构成《著作权法》第二十五条所规定的书面协议，其效力及于用户在银个购发布的任何受著作权法保护的作品内容，无论该内容形成于本协议签订前还是本协议签订后。
                用户同意并明确了解上述条款，不将已发表于本站的信息，以任何形式发布或授权其它网站（及媒体）使用。同时，银个购保留删除站内各类不符合规定点评而不通知用户的权利：</p>
                <p>达观是银个购的制作者,拥有此网站内容及资源的版权,受国家知识产权保护,享有对本网站声明的最终解释与修改权；未经达观的明确书面许可,任何单位或个人不得以任何方式,以任何文字作全部和局部复制、转载、引用和链接。否则本公司将追究其法律责任。</p>
                <p>八、侵权投诉</p>
                <p>1、据《中华人民共和国侵权责任法》第三十六条，任何第三方认为，用户利用银个购平台侵害本人民事权益或实施侵权行为的，包括但不限于侮辱、诽谤等，被侵权人有权书面通知银个购采取删除、屏蔽、断开链接等必要措施。</p>
                <p>2、据《信息网络传播权保护条例》，任何第三方认为，银个购所涉及的作品、表演、录音录像制品，侵犯自己的信息网络传播权或者被删除、改变了自己的权利管理电子信息的，可以向银个购提交书面通知，要求银个购删除该侵权作品，或者断开链接。通知书应当包含下列内容：</p>
                <p>（一）权利人的姓名（名称）、联系方式和地址；</p>
                <p>（二）要求删除或者断开链接的侵权作品、表演、录音录像制品的名称和网络地址；</p>
                <p>（三）构成侵权的初步证明材料。</p>
                <p>权利人应当对通知书的真实性负责。<br>
                此外，为使银个购能及时、准确作出判断，还请侵权投诉人一并提供以下材料：</p>
                <p>3、任何第三方（包括但不限于企业、公司、单位或个人等）认为银个购用户发布的任何信息侵犯其合法权益的，包括但不限于以上两点，在有充分法律法规及证据足以证明的情况下，均可以通过下列联系方式通知银个购：<br>
                邮寄地址：四川省成都市高新区益州大道中段722号1栋1单元24层2404号<br>
                邮政编码：610095<br>
                收件人：银个购客服<br>
                客服电话：<br>
                客服信箱：service@yingougou.com<br></p>
                <p>4、侵权投诉必须包含下述信息：</p>
                <p>（1）被侵权人的证明材料，或被侵权作品的原始链接及其它证明材料。</p>
                <p>（2）侵权信息或作品在银个购上的具体链接。</p>
                <p>（3）侵权投诉人的联络方式，以便银个购相关部门能及时回复您的投诉，最好包括电子邮件地址、电话号码或手机等。              投诉内容须纳入以下声明：“本人本着诚信原则，有证据认为该对象侵害本人或他人的合法权益。本人承诺投诉全部信息真实、准确，否则自愿承担一切后果。”</p>
                <p>（5）本人亲笔签字并注明日期，如代理他人投诉的，必须出具授权人签字的授权书。</p>
                <p>5、银个购建议用户在提起投诉之前咨询法律顾问或律师。我们提请用户注意：如果对侵权投诉不实，则用户可能承担法律责任。。</p>
                <p>九、适用法律和裁判地点</p>
                <p>1、因用户使用银个购站而引起或与之相关的一切争议、权利主张或其它事项，均受中华人民共和国法律的管辖。</p>
                <p>2、用户和银个购发生争议的，应首先本着诚信原则通过协商加以解决。如果协商不成，则应向达观所在地人民法院提起诉讼。</p>
                <p>十、可分性</p>
                <p>如果本协议的任何条款被视为不合法、无效或因任何原因而无法执行，则此等规定应视为可分割，不影响任何其它条款的法律效力。</p>
                <p>十一、冲突选择</p>
                <p>本协议是银个购与用户注册成为银个购会员，使用银个购服务之间的重要法律文件，银个购或者用户的任何其他书面或者口头意思表示与本协议不一致的，均应当以本协议为准。</p>
            </section>
        </section>

    </section>

</body>
    <script data-main="/config" src="/plugins/require/require.js"></script>
    <script src="/controllers/user/set/seting.js"></script>
<html>
