<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport">
    <title></title>

    <link href="/assets/css/main.css" rel='stylesheet' type="text/css">

</head>
<body class="bg">
    
    <section id='app' class='member updatephone'>
        
        <section class="head">
            <a class="back"></a>
            <p>更换手机号</p>
        </section>

        <section class="form">
            <form>
                <section class="form_group">
                    <p>
                        <input value="13334567891" readonly>
                    </p>
                </section>
                <section class="form_group">
                    <p class="vercode">
                        <input id='vercode' type="number" name="vercode" placeholder="请输入验证码">
                        <a>获取验证码</a>
                    </p>
                </section>
                <section class="form_group">
                    <p>
                        <input id='phone' type="number" name="phone" placeholder="请输入新的手机号">
                    </p>
                </section>
                <section class="form_group nobor">
                    <p class="vercode">
                        <input id='newVercode' type="number" name="newVercode" placeholder="请输入验证码">
                        <a>获取验证码</a>
                    </p>
                </section>
                <section class="form_group">
                    <p class="submit">
                        <input type="submit" id='submit' name="submit" value="确认修改">
                    </p>
                </section>
            </form>
        </section>

    </section>

</body>
    <script data-main="/config" src="/plugins/require/require.js"></script>
    <script src="/controllers/user/updatePhone.js"></script>
<html>
