<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport">
    <title></title>

    <link href="/assets/css/main.css" rel='stylesheet' type="text/css">
    <link href="/plugins/sui/sm.min.css" rel='stylesheet' type="text/css">


</head>

<body class="bg">
<section id='app' class='creat_shop has_head'>
    <section class="head">
        <p>入驻商家必读</p>
    </section>
      <p  style="padding: 2rem 1rem ;margin-bottom: 20rem;">银个购商家协议：巴拉巴拉两年垃圾分类点击分类点击法律的开发发的发电点是发的覆盖地方第三方第三方地方第三方地方但是丰东股份的辅导费的股份的郭德纲的给她生日快乐就干饭考虑的实际付了可点击开发的看买鸡蛋开发门禁卡大沙发染发剂的开发九年级可点击能否看电视减肥呢就看到甲方你看见电脑发就哭爹喊娘复健科电脑发超级快递叫你顺丰快递能否开立才巴拉巴拉两年垃圾分类点击分类点击法律的开发发的发电点是发的覆盖地方第三方第三方地方第三方地方但是丰东股份的辅导费的股份的郭德纲的给她生日快乐就干饭考虑的实际付了可点击开发的看买鸡蛋开发门禁卡大沙发染发剂的开发九年级可点击能否看电视减肥呢就看到甲方你看见电脑发就哭爹喊娘复健科电脑发超级快递叫你顺丰快递能否开立才巴拉巴拉两年垃圾分类点击分类点击法律的开发发的发电点是发的覆盖地方第三方第三方地方第三方地方但是丰东股份的辅导费的股份的郭德纲的给她生日快乐就干饭考虑的实际付了可点击开发的看买鸡蛋开发门禁卡大沙发染发剂的开发九年级可点击能否看电视减肥呢就看到甲方你看见电脑发就哭爹喊娘复健科电脑发超级快递叫你顺丰快递能否开立才巴拉巴拉两年垃圾分类点击分类点击法律的开发发的发电点是发的覆盖地方第三方第三方地方第三方地方但是丰东股份的辅导费的股份的郭德纲的给她生日快乐就干饭考虑的实际付了可点击开发的看买鸡蛋开发门禁卡大沙发染发剂的开发九年级可点击能否看电视减肥呢就看到甲方你看见电脑发就哭爹喊娘复健科电脑发超级快递叫你顺丰快递能否开立才</p>
    <section>
        <a class="btn_submit" href="register.html">我已阅读并同意入驻</a>
    </section>
</section>
</body>
<script data-main="/config" src="/plugins/require/require.js"></script>
<script src="/controllers/creat/creatShop.js"></script>
<html>