<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport">
    <title></title>

    <link href="/assets/css/main.css" rel='stylesheet' type="text/css">

</head>
<body>
    
    <section id='app' class='creat_shop_b has_head'>

        <section class="head">
            <a class="back" href="register.html"></a>
            <p>门店入驻</p>
        </section>
        
        <section class="cs_b">
            <p>开店前请准备好以下<span>6种图片资料</span></p>
            <img src="/assets/images/my/shop_zil.png">
            <a href="creatShop.html" class="btn_submit btn_submit">已准备好了，现在申请</a>
        </section>

    </section>

</body>
    <script data-main="/config" src="/plugins/require/require.js"></script>
    <script src="/controllers/creat/creatShopB.js"></script>
<html>
