<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport">
    <title></title>

    <link href="/assets/css/main.css" rel='stylesheet' type="text/css">

</head>
<body>
    
    <section id='app' class='cs_type has_head'>

        <section class="head">
            <a class="back"></a>
            <p>申请为商户发展人</p>
        </section>
        
        <form>
            <p>返佣类型选择</p>
            <section class="form_group">
                <p class="radio">
                    <input type="radio" checked name="radio">
                    <label>一次性返100元</label>
                </p>
            </section>
            <section class="form_group">
                <p class="radio">
                    <input type="radio" name="radio">
                    <label>永久返佣(交易佣金的5%)</label>
                </p>
            </section>
            <a href="" class="btn_submit">提交申请</a>
        </form>

    </section>

</body>
    <script data-main="/config" src="/plugins/require/require.js"></script>
    <script src="/controllers/my/creatShop.js"></script>
<html>
