<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport">
    <title></title>

    <link href="/assets/css/main.css" rel='stylesheet' type="text/css">
    <link rel="stylesheet" href="../../assets/css/select.css">

</head>
<body>

<section id='app' class='select_store_success has_head'>

    <section class="head">
        <p>选择门店</p>
    </section>
    <section class="sc_b">
        <p>
            <span class="left">已通过</span>
            <span><a href="login.html">待通过</a></span>
            <span class="right">待补充</span>
        </p>
        <div class="ss">
            <img src="../../assets/images/my/ic_bg_delete@2x.png"/>
            <ul class="store">
                <li>商家名称</li>
                <li>经营类别</li>
                <li>创建时间 :2017-09-25</li>
            </ul>
        </div>
        <a class="mange" href="">管理门店></a>
    </section>

    <section class="sc_b">
        <div class="ss">
            <img src="../../assets/images/my/ic_bg_delete@2x.png"/>
            <ul class="store">
                <li>商家名称</li>
                <li>经营类别</li>
                <li>创建时间 :2017-09-25</li>
            </ul>
        </div>
        <a class="mange" href="">管理门店></a>
    </section>
    <section class="add_store">添加门店</section>

</section>

</body>
<script data-main="/config" src="/plugins/require/require.js"></script>
<script src="/controllers/creat/selectStore.js"></script>
<html>
