<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>银个购-商家入驻-申请</title>
    
    <link rel="icon" href="/assets/images/icon/logo.png">
    <link href="/assets/css/enter.css" rel='stylesheet' type="text/css">

</head>
<body>
    
    <div class="head">
        <div class="con">
            <a href="/" class="fn-left"><img src="/assets/images/enter/logo2.png" alt=""></a>
            <p class="fn-left hct">商家入驻</p>
        </div>
    </div>

    <div class="enter con con_m">
        <div class="part">
            <a class="fir active"></a>
            <a class='two'></a>
            <a class="th"></a>
            <a class="fo last"></a>
        </div>
        <div class="form">
            <form class="active">
                <div class="form_group">
                    <label for="">商铺名称</label>
                    <div class="inp">
                        <input type="text" name="name" placeholder="请输入商铺名称">
                    </div>
                </div>
                <div class="form_group">
                    <label for="">商铺电话</label>
                    <div class="inp">
                        <input type="text" name="tel" placeholder="请输入商铺电话">
                    </div>
                </div>
                <div class="form_group no_hei address">
                    <label for="">商铺地址</label>
                    <div class="inp">
                        <div class="select province">
                            <input type="text" name="province" readonly placeholder="省">
                            <div class="options"></div>
                        </div>
                        <div class="select city">
                            <input type="text" name="city" readonly placeholder="市">
                            <div class="options"></div>
                        </div>
                        <div class="select area no-margin-r">
                            <input type="text" name="area" readonly placeholder="区">
                            <div class="options"></div>
                        </div>
                       <input type="text" name="address" placeholder="请输入详细地址" class="add">
                    </div>
                </div>
                <div class="form_group">
                    <label for="">所在商区</label>
                    <div class="inp">
                        <div class="select sq">
                            <input type="text" name="b_area" readonly placeholder="请选择所在商区">
                            <div class="options"></div>
                        </div>
                    </div>
                </div>
                <div class="form_group">
                    <label for="">经营类别</label>
                    <div class="inp">
                        <div class="select b_type">
                            <input type="text" name="b_type" readonly placeholder="请选择经营类别">
                            <div class="options"></div>
                        </div>
                    </div>
                </div>
                <div class="form_group">
                        <label for="">客服号码</label>
                    <p class="inp">
                        <input type="text" id="ygphone" placeholder="客服号码(选填)">
                    </p>
                </div>
                <div class="form_group no_hei">
                    <label for="">门头照(1张)</label>
                    <div class="inp">
                        <div class="uploader f_img"></div>
                    </div>
                </div>
                <div class="form_group no_hei">
                    <label for="">内景图(4张)</label>
                    <div class="inp">
                        <div class="uploader n_img"></div>
                    </div>
                </div>
                <div class="form_group no_hei">
                    <label for="" class="long">商铺logo(1张)</label>
                    <div class="inp">
                        <div class="uploader l_img"></div>
                    </div>
                </div>
                <div class="form_group submit">
                    <div class="inp">
                        <p class="prompt prompt1">&nbsp;</p>
                        <input class="btn" id="first" type="submit" value="下一步">
                    </div>
                </div>
            </form>
            <form>
                <div class="form_group no_hei search">
                    <label for="">绑定品牌</label>
                    <div class="inp">
                        <input type="text" id="pp" placeholder="请输入品牌名称">
                        <a class="btn" id="search">搜索</a>
                        <div class="info" id="pinp"></div>
                        <p class="hide">绑定品牌可以增加商铺的曝光度，巴拉巴拉巴拉巴拉巴拉巴拉巴拉</p>
                    </div>
                </div>
                <div class="form_group submit">
                    <div class="inp">
                        <p class="prompt prompt2">&nbsp;</p>
                        <a class="prev">上一步</a>
                        <input class="btn" id="two" type="submit" value="下一步">
                    </div>
                </div>
            </form>
            <form>
                <div class="form_group">
                    <label for="">真实姓名</label>
                    <div class="inp">
                        <input type="text" id="userName" placeholder="请输入真实姓名">
                    </div>
                </div>
                <div class="form_group">
                    <label for="">身份证号</label>
                    <div class="inp">
                        <input type="text" id="cardNo" placeholder="请输入身份证号">
                    </div>
                </div>
                <div class="form_group no_hei card">
                    <label for="">手持身份证照</label>
                    <div class="inp">
                        <div class="uploader zm"></div>
                        <div class="uploader bm"></div>
                    </div>
                </div>
                <div class="form_group">
                    <label for="">银行卡号</label>
                    <div class="inp">
                        <input type="text" id="bank" placeholder="请输入银行卡号">
                        <span class="bank"></span>
                    </div>
                </div>
                <div class="form_group">
                    <label for="">开户行名称</label>
                    <div class="inp">
                        <div class="select fsyh">
                            <input type="text" name="fsyh" id="fsyh" readonly placeholder="请选择开户银行">
                            <div class="options"></div>
                        </div>
                    </div>
                </div>
                <p class="xy rname hide">
                    <span class="ck active"></span>
                    我已阅读并同意<a class="yhxx yhxx2">用户协议</a>
                </p>
                <div class="form_group submit">
                    <div class="inp">
                        <p class="prompt prompt3">&nbsp;</p>
                        <a class="prev">上一步</a>
                        <input class="btn" id="th" type="submit" value="下一步">
                    </div>
                </div>
            </form>
            <form class="last">
                <div class="form_group">
                    <label for="">营业执照注册号</label>
                    <div class="inp">
                        <input type="text" id="yzch" placeholder="请输入营业执照注册号">
                    </div>
                </div>
                <div class="form_group">
                    <label for="">营业执照名称</label>
                    <div class="inp">
                        <input type="text" id="yname" placeholder="请输入营业执照名称">
                    </div>
                </div>
                <div class="form_group">
                    <label for="">营业执照地址</label>
                    <div class="inp">
                        <input type="text" id="ydz" placeholder="请输入营业执照地址">
                    </div>
                </div>
                <div class="form_group time">
                    <label for="">注册时间</label>
                    <div class="inp">
                        <div class="time_picker" id="stt">
                            <input type="text" id="ytime" placeholder="请选择注册时间">
                        </div>
                    </div>
                </div>
                <div class="form_group no_hei">
                    <label for="">上传营业执照</label>
                    <div class="inp">
                        <div class="uploader yyzz"></div>
                    </div>
                </div>
                <div class="form_group submit">
                    <div class="inp">
                        <p class="prompt prompt5">&nbsp;</p>
                        <a class="prev">上一步</a>
                        <input class="btn" id="last" type="submit" value="下一步">
                    </div>
                </div>
            </form>
        </div>
        <div class="result">
            <p>-搜索结果-</p>
            <table id="result">
                <thead>
                    <tr>
                        <td width="230" class="f">品牌</td>
                        <td width="480" class="t">简介</td>
                        <td width="170">电话</td>
                        <td width="80">操作</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="paging"></div>
        </div>
        <div class="popup popup1">
            <a class="close"></a>
            <p class="title">确定绑定麻辣空间字太多了换行显示？</p>
            <p class="xy">
                <span class="ck active"></span>
                我已阅读并同意<a class="yhxy">用户协议</a>
            </p>
            <a class="btn confi_bind">确定绑定</a>
        </div>
    </div>

    <div class="yhxx_popup popup">
        <a class="close"></a>
        <p class="title">承诺说明</p>
        <div class="content">
            <p>本人（公司）保证，本人（公司）的门店均为选择品牌商的直营店，且拥有合法运营权利的门店，并允许品牌商查看本人（公司）门店的营业状况和财务。如违反上诉承诺而产生的所有法律责任，由本人/公司承担</p>
        </div>
    </div>

    <div class="shadow"></div>

</body>
    <script data-main="/config" src="/plugins/require/require.js"></script>
    <script src="/controllers/enter/apply.js"></script>
<html>
