<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>银个购-商家入驻-资料准备</title>
    
    <link rel="icon" href="/assets/images/icon/logo.png">
    <link href="/assets/css/enter.css" rel='stylesheet' type="text/css">

</head>
<body>
    
    <div class="head">
        <div class="con">
            <a href="/" class="fn-left"><img src="/assets/images/enter/logo2.png" alt=""></a>
            <p class="fn-left hct">商家入驻</p>
        </div> 
    </div>

    <div class="before con con_m">
        <p class="tt">
            <span>
                <i></i>
                开店前请准备好以下<b>6种图片资料</b>
            </span>
        </p>
        <img src="/assets/images/enter/already.png" alt="">
        <a href="apply.html">已准备好了，现在申请</a>
    </div>

</body>
<html>
