<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>银个购-商家入驻-登录</title>
    
    <link rel="icon" href="/assets/images/icon/logo.png">
    <link href="/assets/css/enter.css" rel='stylesheet' type="text/css">

</head>
<body class="bg">

    <div class="register login con con_m">
        <a href="/" class="reback">返回全平台</a>
        <p class="title">商家锁定会员&nbsp;&nbsp;&nbsp;让商家挣更多的钱</p>
        <p class="text">先签约，引领市场；后签约，追随市场；不签约，落后市场<br>一个让商家真正拥有属于自己工具的产品</p>
        <div class="form">
            <form action="">
                <p class="prompt">&nbsp;</p>
                <div class="form_group">
                    <p class="inp icon phone">
                        <input type="text" id="tel" placeholder="请输入手机号">
                    </p>
                </div>
                <div class="form_group">
                    <p class="inp icon yzm">
                        <a id="getYzm">获取验证码</a>
                        <input type="text" id="yzm" placeholder="请输入验证码">
                    </p>
                </div>
                <p class="xy">
                    <b><a href="register.html">注册</a></b>
                </p>
                <div class="form_group submit no-bor">
                    <input type="submit" id="login" value="登录">
                </div>
            </form>
        </div>
    </div>

</body>
    <script data-main="/config" src="/plugins/require/require.js"></script>
    <script src="/controllers/enter/login.js"></script>
<html>
