<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>银个购-商家入驻-注册</title>
    
    <link rel="icon" href="/assets/images/icon/logo.png">
    <link href="/assets/css/enter.css" rel='stylesheet' type="text/css">

</head>
<body class="bg">

    <div class="register con con_m">
        <a href="/" class="reback">返回全平台</a>
        <p class="title">商家锁定会员&nbsp;&nbsp;&nbsp;让商家挣更多的钱</p>
        <p class="text">先签约，引领市场；后签约，追随市场；不签约，落后市场<br>一个让商家真正拥有属于自己工具的产品</p>
        <div class="form">
            <form action="">
                <p class="prompt">&nbsp;</p>
                <div class="form_group">
                    <p class="inp icon phone">
                        <input type="text" id="tel" placeholder="请输入手机号">
                    </p>
                </div>
                <div class="form_group">
                    <p class="inp icon yzm">
                        <a id="getYzm">获取验证码</a>
                        <input type="text" id="yzm" placeholder="请输入验证码">
                    </p>
                </div>
                <div class="form_group">
                    <p class="inp icon email">
                        <input type="text" id="email" placeholder="为了及时接受信息，建议填写邮箱(选填)">
                    </p>
                </div>
               
                <p class="xy">
                    <span class="ck active"></span>
                    我已阅读并同意<a class="yhxy">用户协议</a>
                    <b>已有账号去<a href="login.html">登录</a></b>
                </p>
                <div class="form_group submit no-bor">
                    <input type="submit" id="register" value="注册">
                </div>
            </form>
        </div>
    </div>

    <div class="yhxx_popup popup">
        <a class="close"></a>
        <p class="title">银个购商家协议</p>
        <div class="content">
            <p>您使用银个购服务前，应当仔细阅读《银个购商家协议》（以下简称“本协议”）的全部内容。本协议一经勾选，即成为对商家和银个购有约束力的法律文件。</p>
            <p class="t">一、相关定义：</p>
            <p>1. 银个购：指银个购网络交易服务平台（以下简称“银个购”）的经营者，银个购服务指银个购基于互联网及移动网向用户及商家提供的相关服务，银个购包括基于互联网的网站（域名：www.yingegou.com）及基于移动网的相关应用、服务等。</p>
            <p>2、优惠券：指商家通过银个购发布优惠券信息，用户通过银个购领取或购买，并凭电子凭证消费的商业活动。</p>
            <p>3、优惠券信息：指商家通过银个购发布的优惠券信息，包含优惠券的价格、介绍、使用说明等。</p>
            <p>4、用户：指完成银个购注册程序，获得可以登陆银个购会员系统权限的正式注册会员。</p>
            <p>5、商家：指商家有自己的实体店及业务场景，通过银个购发布优惠券信息，向用户提供优惠券的自然人、法人或其他组织。</p>
            <p>6、银个购抵扣券：指用户通过银个购付款并成功购买抵扣券，银个购自动向用户以电子券或其他形式发放的，用以抵扣实际商品或服务的金额的电子凭证。</p>
            <p>7、银个购代金券及折扣券：指银个购通过赠送、市场推广或其他活动向用户提供的可用来抵扣部分产品价款的优惠券，不具有购物凭证的作用。</p>
            <p class="t">二、商家资格及账户</p>
            <p>1、商家应当为领取营业执照的具有合法经营资格的自然人、法人或其他组织。</p>
            <p>2、商家使用银个购提供的网络平台服务，必须：</p>
            <p class="sb">a) 自行配备上网的所需设备，包括电脑、调制解调器或其他必备上网装置。</p>
            <p class="sb">b) 自行负担上网所支付的与此服务有关的电话费用、网络费用。</p>
            <p>商家在使用银个购服务前，应检查其软硬件设备，保证其处于安全使用状态。</p>
            <p>3、商家应妥善保管其银个购账户及密码，根据需要定期进行密码重置，在每次使用完毕后使其处于“退出”状态，以保证账户安全。使用商家账号进行的行为将被视为商家自身的行为，商家应对此承担相应法律责任。商家不得将银个购账户出借、转让或用作其他非法用途，否则因账户未妥善保管而造成损失的，商家自行承担由此造成的一切损失。</p>
            <p class="t">三、银个购服务</p>
            <p>1、商家签署本协议并经银个购审核通过后，可通过银个购商家后台管理系统提交、编辑和发布优惠券信息，接受用户下单和购买，并可对优惠券信息进行相应的设置和管理。</p>
            <p>2、银个购为商家和用户达成交易提供第三方交易平台服务，银个购并非商家和用户之间产品或服务交易的相对方，仅为商家和用户之间通过银个购达成交易提供相应的技术服务。</p>
            <p class="t">四、商家的声明与保证</p>
            <p>1、商家保证提交的信息真实、有效、详尽、准确。若信息发生变更的，保证及时予以更新。若商家提交的信息中有虚假、不准确等内容，银个购有权停止向商家提供服务。若因商家提交错误、虚假信息产生的法律责任，由商家独立承担。</p>
            <p>2、商家保证提交给银个购的资质证明文件真实、合法、有效，保证不向银个购提供虚假、错误、失效的资质证明文件，否则因资质问题产生的法律责任，由商家独立承担。</p>
            <p>3、商家保证提供的产品符合国家相关规定，质量合格，来源合法，使用的商标或其他标识合法或得到有效授权，不侵犯任何第三方的合法权利。同时保证拥有产品的合法销售权或经营权，销售或经营的产品与上传的经营资质一致，不超范围经营。</p>
            <p>4、商家保证提交到银个购发布的信息真实、准确、合法，且与实际商品和服务一致，没有任何夸大或虚假内容，同时承诺不发布任何包含以下内容的信息：</p>
            <p class="sb">a) 反对宪法所确定的基本原则，煽动、抗拒、破坏宪法和法律、行政法规实施的；</p>
            <p class="sb">b) 煽动颠覆国家政权，推翻社会主义制度，煽动、分裂国家，破坏国家统一的；</p>
            <p class="sb">c) 损害国家荣誉和利益的；</p>
            <p class="sb">d) 煽动民族仇恨、民族歧视，破坏民族团结的；</p>
            <p class="sb">e) 任何包含对种族、性别、宗教、地域内容等歧视的；</p>
            <p class="sb">f) 捏造或者歪曲事实，散布谣言，扰乱社会秩序的；</p>
            <p class="sb">g) 宣扬封建迷信、邪教、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；</p>
            <p class="sb">h) 公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；</p>
            <p class="sb">i) 损害国家机关信誉的；</p>
            <p class="sb">j) 其他违反宪法和法律行政法规的。</p>
            <p>5、商家在使用银个购提供的服务时，不得有下列行为：</p>
            <p class="sb">a) 利用银个购从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动；</p>
            <p class="sb">b) 将有关干扰、破坏或限制任何计算机软件、硬件或通讯设备功能的软件病毒或其他计算机代码、档案和程序之资料，加以上载、发布、发送电子邮件或以其他方式传送；</p>
            <p class="sb">c) 干扰银个购正常运行，非法入侵银个购服务器、篡改银个购代码或其他损害银个购系统的行为；</p>
            <p class="sb">d) 企图规避银个购的安全设置或网络系统，包括获取商家不应获取的数据，登录未经明确授权的服务器或账户，或采用运行端口扫描等方式窥探其他网络的安全措施；</p>
            <p class="sb">e) 以导致银个购的计算机系统或设施承受不合理负载的方式获取银个购提供的服务或网站信息，或进行可能导致此类情况出现的行为；</p>
            <p class="sb">f) 实施任何形式的网络监控，从而截取与自身无关的信息；</p>
            <p class="sb">g) 利用银个购从事与网上购物无关或不是以购物为目的的活动，试图扰乱正常购物秩序，谋取不正当利益的行为；</p>
            <p class="sb">h) 注册多个用户账号，通过自我邀请、相互邀请或利用多个手机或邮箱注册等不正当手段获取返利、代金券或任何经济利益。</p>
            <!-- <p class="sb">i) 采取注册多个用户账号或其他方式购买自己或关联方的优惠券以刷高销售额、获取返利或其他利益、进行虚假评价等不正当行为。</p> -->
            <p class="sb">i) 采取注册多个用户账号或其他方式购买自己或关联方的优惠券以刷高销售额、获取返利或其他利益等不正当行为。</p>
            <p class="sb">j) 其他损害他人或银个购合法权益的行为。</p>
            <p>6、商家在使用银个购提供的服务时，应遵守本协议及银个购的相关使用规则，遵守自愿、平等、公平及诚实信用原则，不利用银个购侵犯他人合法权益及谋取不正当利益，不扰乱网上交易的正常秩序。</p>
            <p>7、商家应在向用户提供服务前，对用户出示的银个购券进行验证，若未进行验证而提供商品或服务，造成损失的，由商家自行承担。</p>
            <p>8、商家应按照优惠券页面明示的产品信息、使用规则和消费承诺，向购买优惠券的用户提供商品或服务，且保证提供的商品或服务符合本协议及优惠券页面明示的内容和标准，不存在歧视优惠券用户或降低服务质量和水平的行为。</p>
            <p>9、商家保证向购买其优惠券产品的用户开具符合国家规定的发票。</p>
            <p>10、商家保证向用户提供相应的售后服务，对出售的商品提供符合国家规定的无理由退换货服务和“三包”服务，保证遵守已承诺的各项售后服务承诺。</p>
            <p>11、商家保证除履行本协议的目的外，不将从银个购获取的任何数据做商业性利用，也不得披露给任何第三方。</p>
            <p>12、商家不得通过不正当手段（包括但不限于向银个购工作人员或其关联人士提供酬金、礼物或其它有形或无形利益）谋取利益。否则，银个购有权立即停止向商家提供的服务，并有权追究商家的违约责任。</p>
            <p class="t">五、银个购的权利和义务</p>
            <p>1、银个购应在现有技术基础上，维护银个购的正常运营，努力提升和改进技术。同时银个购有权对现有平台的功能进行相应的技术改进和升级。</p>
            <p>2、对商家在使用银个购过程中遇到的技术问题，银个购在接到商家询问和咨询时应及时予以回复。</p>
            <p>3、银个购有权对商家提交的资质文件进行审查，但此类审查不免除商家依法承担的各项义务及本协议约定的各项义务，商家仍需对资质承担相应法律责任，如因商家提交的资质出现问题导致的法律责任，均由商家独立承担。若因此造成银个购损失的，商家应予以赔偿。</p>
            <p>4、一经发现商家提供虚假信息或有本协议及各项规则禁止的言论或行为的，银个购有权采取暂停提供服务、删除违法违规信息、限制商家上单、禁止商家发言、锁定商家账户等处理措施。若因商家的言论或行为给他人或银个购造成损失的，商家应予以赔偿。</p>
            <p>5、若国家相关机关向银个购发出命令、指示、裁决等法律文书或第三人向银个购投诉并提供相关证据材料，要求冻结、关闭商家账号及交易的，银个购有权对相关账号及交易进行冻结或取消，同时对违反本协议及银个购相关服务规则的商家，银个购有权封停其账号。银个购采取上述措施的，将通过商家注册时提交的联系信息通知商家。</p>
            <p>6、银个购有权基于推广银个购的需要，不定期开展各种推广活动，商家对此不持异议。</p>
            <p>7、商家同意授予银个购免费的许可使用权利(包括转授权)，使银个购有权(全部或部分地)使用、复制、修订、改写、发布、翻译、分发、执行和展示商家公示于银个购的各类信息或制作其派生作品，或以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其它作品内。</p>
            <p class="t">六、服务条款的修改</p>
            <p>银个购有权不定期的制定、修改本协议及相关服务规则，一旦条款及服务内容、规则产生变动，银个购将会以网站公告的方式进行公示。商家应及时关注银个购不时发布的各项服务规则及本协议修改的相关提示，若不同意相关规则及条款修改的，商家应及时停止使用银个购提供的服务；如果商家继续使用银个购提供的服务，则视为接受相关规则及条款的修改。</p>
            <p class="t">七、服务的中断和终止</p>
            <p>1、银个购会尽全力维护平台的正常运行，以向商家提供持续、稳定、安全、顺畅的服务。但商家理解并同意：银个购对服务页面进行改版、升级网站系统、增加服务功能等须中断服务的操作时，有权暂时中断服务。银个购将尽可能在实施以上行为时予以提前公告，并尽可能将影响降低到最小。</p>
            <p>2、商家可向银个购提交申请，要求终止本协议，但必须提前一个月提交申请且在协议终止日时所有优惠券均已履行期限届满且履行完毕。银个购审核通过同意终止协议的，商家账户将被封停或注销，商家将不能使用银个购除浏览页面外的所有服务，但银个购仍有权保留商家的所有注册信息及过往交易记录，对商家在银个购从事违法行为或违反本协议及相关规定的行为，银个购仍有权行使本协议规定的权利并追究商家的法律责任。</p>
            <p>3、银个购可在下列情况下，自行停止向商家提供服务，并封停或注销其账户，若因商家行为给银个购造成损失的，商家还应负责赔偿：</p>
            <p class="sb">a) 商家违反本协议相关规定的，不论商家是否直接、间接或者通过他人再次注册成为银个购商家，银个购均有权停止向其提供服务；</p>
            <p class="sb">b) 每个商家仅可在银个购注册一个账户，若商家注册多个账户或使用关联账户购买银个购有购买限制的产品或谋取不正当利益的，银个购有权取消交易并停止向其提供服务，商家因此获取的利益须退还；</p>
            <p class="sb">c) 本协议终止或更新时，用户明示不同意接受新协议的；</p>
            <p class="sb">d) 其他违反银个购相关规定或致使银个购或他人遭受利益损害的行为。</p>
            <p>4、本协议无论出于何种理由终止或解除，商家均应对已成功交易的订单提供商品或服务，不得以协议本协议解除为由不向购买的用户提供商品或服务以及履行相应的售后义务。若因商家未履行必要的退出义务而造成用户或银个购损失的，商家应予以赔偿。</p>
            <p class="t">八、责任限制</p>
            <p>1、 不论在任何情况下，银个购均不对由于互联网正常的设备维护，互联网络连接故障，电脑、通讯或其他系统的故障，电力故障，罢工，暴乱，骚乱，灾难性天气（如火灾、洪水、风暴等），爆炸，战争，政府行为，司法行政机关的命令或第三方的不作为而造成的不能履行或延迟履行承担责任。</p>
            <p>2、 如因上述不可抗力或其他银个购无法控制的原因使银个购的销售系统崩溃或无法正常使用导致网上交易无法完成或丢失有关的信息、记录等，银个购不承担责任。但是银个购会尽可能合理地协助处理善后事宜，并努力使客户免受经济损失。</p>
            <p>3、基于互联网的特殊性，银个购显示的信息可能有一定的滞后性或差错，对此情形商家知悉并理解。</p>
            <p class="t">九、知识产权</p>
            <p>1、银个购的域名、标识、图表、按钮、网页页眉页脚、排版、架构等归属于银个购或识别银个购的所有信息均由银个购享有完全知识产权；未经银个购许可，任何人不得使用、复制这些信息或再造、创造与这些内容有关的派生作品。</p>
            <p>2、商家同意：用户在银个购发表的产品使用体验、产品讨论或图片等所有信息，除署名权、发表权、修改权外的其他知识产权权利（包括但不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及应当由著作权人享有的其他可转让权利），均独家排他无偿许可给银个购，并同意银个购以自己名义就所述权利的保护采取任何形式的法律行为，并获得全部赔偿。 本协议已经构成《著作权法》第二十五条所规定的书面协议，其效力及于用户在银个购发布的任何受著作权法保护的作品内容，无论该内容形成于本协议签订前还是本协议签订后。</p>
            <p class="t">十、违约责任</p>
            <p>1、商家同意赔偿由于使用服务（包括但不限于将商家资料展示在银个购上）或违反本协议而给银个购造成的任何损失（包括但不限于由此产生的全额的诉讼费用和律师费）。商家同意银个购不对任何商家张贴的资料，包括诽谤性的、攻击性的或非法的资料承担任何责任；由于此类材料对其它用户造成的损失由商家自行承担全部责任。</p>
            <p>2、商家承诺，不会采取任何手段或措施，包括但不限于明示或暗示用户或通过其他方式转移其可以通过银个购在线达成的交易，或通过其他方式规避应向银个购支付的费用，否则将视为严重违约，银个购将有权立即终止本协议，并就银个购所遭受的损失向商家追偿。</p>
            <p>3、除本协议及银个购已公示的规则另有约定之外，如一方发生违约行为，守约方可以书面通知方式要求违约方在指定的时限内停止违约行为，并就违约行为造成的损失向违约方进行索赔，如违约方未能按时停止违约行为，则守约方有权立即终止本协议。</p>
            <p class="t">十一 通知和公告</p>
            <p>1、银个购向商家发送的所有通告，将通过页面公告或电子邮件的方式传送。银个购的活动信息也将定期通过页面公告及电子邮件方式向用户发送。协议条款的修改、服务变更、或其它重要事件的通告都会以此形式进行。</p>
            <p>2、银个购通过电子邮件或短信等方式发送的信息，均以商家自行填写和提交的信息为准，如因用户提交的信息错误或虚假造成相关通知和公告没有送达的，银个购不承担责任。</p>
            <p class="t">十二、法律管辖和适用</p>
            <p>1、本协议的订立、执行和解释及争议的解决均应适用中华人民共和国大陆地区法律。</p>
            <p>2、如发生本服务条款与上述法律相抵触时，则这些条款将完全按法律规定重新解释，而其它合法条款则依旧保持对用户产生法律效力和影响。</p>
            <p>3、本协议的规定是可分割的，如本协议任何规定被裁定为无效或不可执行，该规定可被删除而其余条款应予以执行。</p>
            <p>4、如双方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向银个购所在地人民法院提起诉讼。</p>
            <p class="t">十三、附则</p>
            <p>本协议除以上正文部分外，还包括银个购发布的各项服务规则，各项服务规则与本协议具有同等法律效力； 这些规则包括但不限于《银个购优惠券交易服务规则》、《银个购抵扣券使用规则》、《银个购代金券及折扣券使用规则》等。</p>
            <p class="t">附1：</p>
            <p>银个购优惠券交易服务规则</p>
            <p class="t">一、优惠券信息</p>
            <p>1、商家按照与银个购签署的合同的约定，在银个购发布进行优惠券信息。</p>
            <p>2、商家发布优惠券信息时，应按照银个购要求明示优惠券价格、购买限制、消费提示、商品或服务介绍等必要信息，并对信息的真实性、合法性和有效性负责。</p>
            <p class="t">二、优惠券交易</p>
            <p>1、用户选择购买银个购展示的优惠券前，应仔细阅读优惠券信息展示页面的所有信息，了解优惠券的种类、价格、数量、消费提示等相关信息。</p>
            <p>2、用户点击“免费抢购”按钮后系统会自动生成包含优惠券名称、购买数量、应付总额、收货地址（如有）等信息的订单，用户应仔细核对。用户点击订单底部的“提交订单并付款”按钮，视为用户已阅读并同意优惠券页面的所有内容并认可订单内容，订单内容及优惠券页面信息视为用户与商家之间的合同。</p>
            <p>3、用户提交订单成功后，通过第三方支付工具或网银支付给银个购的款项，为银个购接受商家委托代收的款项，用户付款则视为用户已向商家履行了付款义务。银个购收到款项后，银个购系统会自动代商家向用户发送用于消费的优惠券电子凭证。</p>
            <p>4、用户持收到的优惠券电子凭证，按照使用规则要求商家履行合同义务时，商家应按照银个购优惠券使用规则，在银个购优惠券验证通过后向用户提供约定的商品或服务并向用户开具发票。</p>
            <p>5、用户使用代金券购买商家的商品或服务时，应遵守银个购代金券使用规则；用户持有银个购抵扣券时，应遵守银个购抵扣券使用规则。用户持有银个购折扣券时，应遵守银个购折扣券使用规则。</p>
            <p class="t">三、售后保障</p>
            <p>因履行优惠券交易合同而发生争议的，用户和商家应按照优惠券交易合同的约定履行各自的权利和义务，独立承担相应的法律责任。若用户和商家要求银个购予以协调和解决的，应拨打银个购客服电话，并向银个购提交支持其主张的相应证据材料，以便银个购予以核实，银个购核实相关情况后对双方的争议予以协调，但银个购并不为此承担任何责任。若双方对银个购的协调结果不满意的，可自行采取其他法律措施予以解决。</p>
            <p class="t">附2：</p>
            <p>银个购优惠券使用规则</p>
            <p>1、银个购优惠券是用户成功购买优惠券后，通过订单信息获取，仅作为持有银个购优惠券的用户去商家的消费凭证，不可兑换现金。</p>
            <p>2、一般情况下，除非银个购和商家共同允许或特别说明，银个购优惠券不可与商家其他优惠同时享用。</p>
            <p>3、银个购优惠券应当在有效期内使用，超过有效期的银个购优惠券不可作为消费凭证。</p>
            <p>4、银个购优惠券不记名、不挂失，如因用户个人保管不善等原因导致的遗失、或造成冒领等，由用户本人负责。</p>
            <p>5、每种银个购优惠券的使用规则和使用限制，包括但不限于验证方式、验证规则、有效期等，均已在该优惠券信息中进行明示，用户下单购买即视为已经知悉并同意。</p>
            <p>6、除非另有说明，否则每张银个购优惠券应当一次性全部兑换。</p>
            <p>7、银个购优惠券规定必须事先预约的，用户应提前向商家预约，未提前预约造成未能享受服务或消费的，银个购不承担任何责任。</p>
            <p>8、银个购优惠券限用户本人使用，用户不得在银个购以外的任何平台，以赢利或损害银个购利益为目的交易银个购优惠券。</p>
            <p>9、用户非经银个购购买而从任何其它渠道获得的银个购优惠券，发生的任何问题，包括但不限于不能获得产品或服务等，银个购不承担解决义务。</p>
            <p>10、银个购优惠券包括银个购代金券、银个购折扣券、银个购抵扣券</p>
            <p class="t">附3：</p>
            <p>银个购代金券使用规则</p>
            <p>1、银个购代金券必须满足一定条件才能使用，以该代金券上的备注及银个购的相关公告、提示为准。</p>
            <p>2、银个购代金券不兑现（即不直接兑换现金）、不找零（即订单金额不足代金券金额的，代金券剩余金额无效）。</p>
            <p>3、用户不得通过注册多个账号、采用技术手段、黑客行为或其他不正当手段取得银个购代金券，如经银个购发现并证实的，取得的代金券将予以作废处理。</p>
            <p>4、同一个订单不能用多个优惠券。[同一订单不能使用不同种类的优惠券么，优惠券的使用是分类进行的而不是分次数进行的。]通过其他渠道取得而非通过银个购直接发放的银个购代金券，为防止作弊行为及倒卖行为，每个注册用户从该渠道领用的银个购代金券最多只能使用一张。</p>
            <p>用户违反银个购代金券的使用规则，违规使用银个购代金券经银个购发现并证实的，银个购有权终止该用户其他银个购代金券的效力。对于用户违规使用银个购代金券支付的订单，用户必须补足优惠部分的订单金额（如用户违规使用了一张面值10元的银个购代金券，那么用户必须补足10元），否则银个购有权采取终止该订单的效力、停止向用户提供订单产品、查封用户账号等措施，并有权通过法律途径向用户追讨经济损失。</p>
            <p class="t">附4：</p>
            <p>银个购抵扣券使用规则</p>
            <p>1、银个购抵扣券必须满足一定条件才能使用，以该抵扣券上的备注及银个购的相关公告、提示为准。</p>
            <p>2、银个购抵扣券不兑现（即不直接兑换现金）、不找零（即订单金额不足抵扣券金额的，抵扣券剩余金额无效）。</p>
            <p>3、用户不得通过注册多个账号、采用技术手段、黑客行为或其他不正当手段取得银个购抵扣券，如经银个购发现并证实的，取得的抵扣券将予以作废处理。</p>
            <p>4、同一个订单不能用多个优惠券。[同优惠券一样的问题]通过其他渠道取得而非通过银个购直接发放的银个购抵扣券，为防止作弊行为及倒卖行为，每个注册用户从该渠道领用的银个购抵扣券最多只能使用一张。</p>
            <p>用户违反银个购抵扣券的使用规则，违规使用银个购抵扣券经银个购发现并证实的，银个购有权终止该用户其他银个购抵扣券的效力。对于用户违规使用银个购抵扣券支付的订单，用户必须补足优惠部分的订单金额（如用户违规使用了一张面值100元的银个购抵扣券，那么用户必须补足100元），否则银个购有权采取终止该订单的效力、停止向用户提供订单产品、查封用户账号等措施，并有权通过法律途径向用户追讨经济损失。</p>
        </div>
    </div>

</body>
    <script data-main="/config" src="/plugins/require/require.js"></script>
    <script src="/controllers/enter/register.js"></script>
<html>
