<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>领券成功</title>
    <link href="../../assets/css/main.css" rel='stylesheet' type="text/css">
    <script src="../../assets/js/autosize.js "></script>
    <link rel="stylesheet" href="../../theme/newDrainage/couponsSuccess.css">
</head>

<body>
    <div id='app' class="main new_shopbg">
        <div class='ad_warp'>
            <div class="shop_name" v-text="b_n"></div>
            <!--<div class="shop_name" v-text="b_n">-->
            <div class="free_price" >￥{{how}}</div>
            <div class="receive_success">领取成功</div>
            <a class="get_ticket" v-on:click="checkBtn">
                查看我的优惠券
            </a>

        </div>
    </div>
</body>
<script data-main=" ../../config" src="../../plugins/require/require.js "></script>
<script src="../../controllers/drainage/couponsSuccess.js"></script>
</html>