<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>领券失败</title>
    <link href="../../assets/css/main.css" rel='stylesheet' type="text/css">
    <script src="../../assets/js/autosize.js "></script>
    <link rel="stylesheet" href="../../theme/newDrainage/couponsSuccess.css">
</head>

<body>
    <div id='app' class="main new_shopbg">
        <div class='receive_fail'>
            <div class="shop_fail" v-text="b_n"></div>
            <div class="fail_txt">领取失败</div>
            <div class="receive_repeat">不可重复领用</div>
            <div class="get_ticket" v-on:click="checkBtn">
                查看我的优惠券
            </div>
        </div>
    </div>
</body>
<script data-main=" ../../config" src="../../plugins/require/require.js "></script>
<script src="../../controllers/drainage/couponsFail.js"></script>
</html>