<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>银个购</title>
    <link href="../../assets/css/main.css" rel='stylesheet' type="text/css">
    <script src="../../assets/js/autosize.js "></script>
    <link rel="stylesheet" href="../../theme/newDrainage/freeCoupons.css">
</head>

<body>
    <div id='app' class="main new_shopbg" v-cloak>
        <div class='ad_warp'>
            <div class="hedeImg" >
                <img v-bind:src="img" alt="title">
            </div>
            <div class="shop_name" v-text="b_n">

            </div>
            <div class="star_warp" >
                <star :score='star*10'></star>
            </div>
            <div class="shop_addr">
                <div>
                    {{add}}
                    <img src="../../assets/images/freeCoupons/ic_bg_address_xxh.png" alt=""/>
                </div>
            </div>
            <div class="tel"><img class="phone" src="../../assets/images/freeCoupons/ic_bg_phone_xxh.png" /><a v-bind:href="'tel:'+telNum" >{{telNum}}</a></div>
            <div class="get_ticket" v-on:click="freeCouponBtn">
                免费领券
            </div>
        </div>
        <div class=" contentFree" v-show='!hotBus' >
            <div class="tet">相关优惠</div>
            <div class="disList">
                <div v-for="item in arr" class="item">
                    <img :src="item.img_path" alt="" class="tetImg">
                    <p>
                        <span v-if="item.type == 0">{{item.discount}}元代金券</span>
                        <span v-else-if="item.type == 1">{{item.rate}}折折扣券</span>
                        <span v-else-if="item.type == 2">{{item.discount}}元抵扣券</span>
                        <span v-else="item.type == 3">团购券</span>
                    </p>
                    <p><img src="../../assets/images/newDarinage/fontBg2.png" alt="" class="rmb"><span class="price">{{item.price?item.price:0}}</span></p>
                </div>
            </div>
        </div>
        <div class=" contentFree" v-show='hotBus' >
            <div class="tet">热门店铺</div>
            <div class="disList">
                <div v-for="item in hotBusArr" class="item">
                    <img :src="item.logo" alt="" class="tetImg">
                    <p>
                        {{item.name}}
                    </p>
                </div>
            </div>
        </div>
        <div id='container' style="display:none" >11</div>
    </div>
</body>
<script data-main=" ../../config" src="../../plugins/require/require.js "></script>
<script src="https://webapi.amap.com/maps?v=1.3&key=a9506f1b1e66b4e85d7e15c8461ca4d4&plugin=AMap.CitySearch"></script>
<script src="../../controllers/drainage/freeCoupons.js"></script>
</html>