<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>银个购</title>
    <link href="../../assets/css/main.css" rel='stylesheet' type="text/css">
    <script src="../../assets/js/autosize.js "></script>
    <link rel="stylesheet" href="../../theme/newDrainage/freeCoupons.css">
</head>

<body>
    <div id="app" class="main warpBg">
		<div class="shopHdImg">
            <div class="headeImg">
                <div class="imgWarp">
                    <img v-bind:src="img" alt="title">
                </div>
                <div class="shopName" v-text="b_n"></div>
            </div>
            <div class="shopSum">
                <div class="con">
                    <star :score='star*10'></star>
                    <div class="add"><img class="address" src="../../assets/images/freeCoupons/ic_bg_address_xxh.png"><span>成都市武侯区复城国际T2-202</span></div>
                    <div class="tel"><img class="phone" src="../../assets/images/freeCoupons/ic_bg_phone_xxh.png" /><span>18380465617</span></div>
                </div>
            </div>
            <div class="sunfo">
                <!-- <p>{{all}}</p> -->
            </div>
        </div>
        <div class=" contentFree">
            <div class="tet">相关优惠</div>
        </div>
        <div class="freeBtn">免费领券</div>
    </div>
</body>
<script data-main=" ../../config" src="../../plugins/require/require.js "></script>
<script src="../../controllers/drainage/freeCoupons.js"></script>
</html>