<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>银个购</title>
    <script src="../../assets/js/autosize.js "></script>
    <link rel="stylesheet" href="../../theme/newPayment/payPage.css">
</head>
<body>
    <div id="app" class="main" >
        <div class="header">
            <!-- <div class="back">
                <img src="../../assets/images/newDarinage/ic_bg_back_xxh.png" alt="">
            </div> -->
            <span class="merchant_name"></span>
        </div>
        <div class="content">
            <div class="titel">
                消费金额
            </div>
            <div class="piircWarp" id="piircWarp">
                <p>¥</p>
                <input class="ad_input hide cut_before" type="text"  placeholder="请询问收银员后输入"  >
                <input class="ios_input hide cut_before" type="number"placeholder="请询问收银员后输入"   >
            </div>
            <div class="checkWarp hide"  >
                <div>
                    <!-- <img class="checkPrice" src="../../assets/images/newDarinage/ic_select1@3x.png" ref="ck" alt="" > -->
                    <span class="chPc checkPrice"></span>
                    <span>输入不参与优惠金额</span>
                </div>
            </div>
            <div class="checkInput hide" >
                <p>
                    <!-- <img src="../../assets/images/newDarinage/fotbg.png" alt=""> -->
                </p>
                <input class="ad_input hide cut_after" type="text"   placeholder="请询问收银员后输入">
                <input class="ios_input hide cut_after" type="number"   placeholder="请询问收银员后输入">
            </div>
        </div>
        <div class="zhekou">
            <div class="mj hide  mj_div" >
                <!-- <img class="rad mj_img" src="../../assets/images/newDarinage/ic_select@3x.png" alt=""> -->
                <span class="rad mj_img " ></span>
                <span class="mj_txt" >每满100减10元</span><span class="max_mj hide">(最高减20元)</span>
                <div class="mj_show_con hide limit" >
                    <span><span class="d">-</span> <span class="fnImg">¥</span> <span class="max_mj_yh show_limit" >11</span> </span>
                </div>
            </div>
            <div class="dz hide dz_div">
                <!-- <img class="rad dz_img" src="../../assets/images/newDarinage/ic_select@3x.png" alt="" > -->
                <span class="rad dz_img " ></span>
                <span class="dz_txt">8.8折</span>
                <span class="max_dz hide" >(最高减40元)</span>   
                <div class="dz_show_con hide limit">
                    <span><span>-</span> <span class="fnImg">¥</span> <span class="max_dz_yh show_limit" >11</span> </span>
                </div>
            </div>
            <div class="yhq hide yhq_div" >
                <!-- <img class="rad yhq_img" src="../../assets/images/newDarinage/ic_select@3x.png" alt="" > -->
                <span class="rad yhq_img " ></span>
                <span>可用优惠券</span>
                <div class="yhq_show_con hide limit" >
                    <span ><span>-</span> <span class="fnImg">¥</span><span class="max_yhq_yh show_limit" >11</span></span>
                    <!-- <img class="changeTic" src="../../assets/images/newDarinage/ic_arrow@3x.png" alt="" > -->
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="realityPrice">
                实际金额
                <span class="ljBox hide"> （立减优惠 -<span id="ljyh"></span> ）</span>
                <span class="tt" >¥<sapn class="sj_total" >0</sapn></span>
            </div>
            <div class="btn checkPay">
                ¥<span class="qr_total" >0确认买单</span>
            </div>
            <p>优惠买单仅限于到店消费，请确认金额后提交</p>
        </div>
        <!-- <div class="payGroupTic" v-show="groupWarp">
            团购
        </div> -->
<!--         <div class="disTic" v-show="disTicWarp">
            优惠券
        </div> -->
    </div>
    <div class="load hide" >
        <div class="loading"></div>
    </div>
</body>
<script type="text/javascript"  src="../../controllers/fastclick/fastclick.js" ></script>
<script type="text/javascript" src="../../antbridge.min.js" ></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
<script type="text/javascript" src="../../plugins/zepto/zepto.min.js" ></script>
<script type="text/javascript" src="../../controllers/newPayment/payPage.js" ></script>
</html>