<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>银个购</title>
<!--     <link href="../../assets/css/main.css" rel='stylesheet' type="text/css">
    <link rel="stylesheet" href="../../theme/payment/payment.css"> -->
    <link href="../../assets/css/main.css" rel='stylesheet' type="text/css">
    <link rel="stylesheet" href="../../theme/newDrainage/payPage.css">
</head>
<body>
    <div id="app" class="main">
        <div class="header">
            <div class="back" v-on:click="back">
                <img src="../../assets/images/newDarinage/ic_bg_back_xxh.png" alt="">
            </div>
            <span>{{merchant_name}}</span>
           
        </div>
        <div class="content">
            <div class="titel">
                消费金额
            </div>
            <div class="piircWarp">
                <p>¥</p>
                <input type="number" placeholder="请询问收银员后输入" v-model="picked" v-on:input="disBefore">
            </div>
            <div class="checkWarp" >
                <div>
                    <img src="../../assets/images/newDarinage/ic_select1@3x.png" ref="ck" alt="" v-on:click="checkPrice">
                    <span>输入不参与优惠金额</span>
                </div>
                <p>酒水除外</p>
            </div>
            <div class="checkInput" v-show="isDis">
                <p>¥</p>
                <input type="number" v-on:input="noDis" v-model="deDisPr"  placeholder="请询问收银员后输入">
            </div>
        </div>
        <div class="zhekou">
            <div class="mj" v-show="full_reduceShow">
                <img src="../../assets/images/newDarinage/ic_select@3x.png" alt="" ref="mj" v-on:click="mj">
                <span>每满{{full_rule}}减{{full_reduce}}元</span>(最高减{{most_reduce}}元)
                <div v-show="payType =='mj' ">
                    <span>-¥{{subMon}}</span>
                </div>
            </div>
            <div class="dz" v-show="discountShow">
                <img src="../../assets/images/newDarinage/ic_select@3x.png" alt="" ref="dz" v-on:click="dz">
                <span>{{discount}}折</span>(最高减{{most_discount}}元)
                
                <div v-show="payType =='dz' ">
                    <span>-¥{{subMon}}</span>
                </div>
            </div>
            <div class="yhq" v-show="showYhq">
                <img src="../../assets/images/newDarinage/ic_select@3x.png" alt="" ref="yhq" v-on:click="yhq">
                <span>可用优惠券</span>
                <div >
                    <span v-show="payType =='yhq' ">-¥{{subMon}}</span>
                    <img src="../../assets/images/newDarinage/ic_arrow@3x.png" alt="" v-on:click="changeTic">
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="realityPrice">
                实际金额
                <span v-show=" total != null">¥{{total}}</span>
            </div>
            <div class="btn" v-on:click="checkPay">
                <span v-show=" total != null">¥{{total}}</span>确认买单
            </div>
            <p>优惠买单仅限于到店消费，请确认金额后提交</p>
        </div>

    </div>
</body>
<script type="text/javascript"  src="../../controllers/fastclick/fastclick.js" ></script>
<script type="text/javascript" src="../../antbridge.min.js" ></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
<script data-main=" ../../config" src="../../plugins/require/require.js "></script>
<script src="../../controllers/drainage/payPage.js"></script>
</html>