<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>银个购</title>
    <link href="../../assets/css/main.css" rel='stylesheet' type="text/css">
    <link rel="stylesheet" href="../../theme/newDrainage/newDrainage.css">
</head>

<body>
    <div id="app" class="main">
		<div class="backImg"></div>
        <div class="header">
            <div class="banner">
                <div class="banner_logo">
                    <div class="inner_img"><img v-bind:src="img" alt="title" /></div>
                    <div class="title" v-text="b_n"></div>
                    <!-- <div class="title_img"><img v-bind:src="shopcoupen.title_log" alt="title" /></div> -->
                </div>
            </div>
        </div>
		<div class="content">
			
		</div>
		<div class="footer">
			<p>活动说明</p>
		</div>
    </div>
</body>
<script data-main=" ../../config" src="../../plugins/require/require.js "></script>
<script src="../../controllers/drainage/drainage.js "></script>
</html>