<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>银个购-个人中心-消费记录</title>
    
    <link rel="icon" href="/assets/images/icon/logo.png">
    <link href="/assets/css/main.css" rel='stylesheet' type="text/css">

</head>
<body>
    
    <div id='head' class="head"></div>

    <div class="order pur_history personal con">

        <div class="sidebar"></div>
        
        <div class="cont">
            <div class="tab">
                <div class="tab_group">
                    <div class="group active">
                        <table class="hide">
                            <thead>
                                <tr>
                                    <td width="350">消费商家</td>
                                    <td width="260">消费金额</td>
                                    <td width="170" class="stimet">消费时间</td>
                                    <td width="90">操作</td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div class="paging clear"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="footer"></div>

</body>
    <script data-main="/config" src="/plugins/require/require.js"></script>
    <script src="/controllers/personal/purHistory.js"></script>
<html>
