<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>银个购-个人中心-钱包</title>
    
    <link rel="icon" href="/assets/images/icon/logo.png">
    <link href="/assets/css/main.css" rel='stylesheet' type="text/css">
    <!--[if IE 8]> 
        <link href="/assets/css/ie8.css" rel='stylesheet' type="text/css">
    <![endif]-->

</head>
<body>
    
    <div id='head' class="head"></div>

    <div class="wallet personal con">

        <div class="sidebar"></div>
        
        <div class="cont">
            <div class="tab">
                <div class="tab_menu fn-clear">
                    <a class="group active">账户余额</a>
                    <a class="group">统计</a>
                </div>
                <div class="tab_group">
                    <div class="group balance active">
                        <p class="money">￥<span>0</span></p>
                        <div class="btns fn-clear">
                            <a class="active">全部明细</a>
                            <a>收入</a>
                            <a>支出</a>
                        </div>
                        <table class="hide" id="list">
                            <thead>
                                <tr>
                                    <td width="195" class="f">来源</td>
                                    <td width="230">金额</td>
                                    <td width="215">时间</td>
                                    <td width="230">余额</td>
                                    <td width="150" class="l hide">操作</td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div class="paging clear"></div>
                    </div>
                    <div class="group statis">
                        <div class="income">
                            <p class="total"></p>
                            <div class="time_qj">
                                <div class="se">
                                    <a class="btn btnl"></a>
                                    <div class="select_time">
                                        <div class="time_picker" id="stt1">
                                            <input type="text" class="start_date" readonly>
                                        </div>
                                        <b>~</b>
                                        <div class="time_picker" id="ett1">
                                            <input type="text" class="end_date" readonly>
                                        </div>
                                    </div>
                                    <a class="btn btnr"></a>
                                </div>
                            </div>
                            <div class="data fn-clear">
                                <div class="info" id="frd">
                                    <p class="t"></p>
                                    <p class="g g1"></p>
                                    <p class="g g2"></p>
                                    <p class="g g3"></p>
                                </div>
                                <div class="chart">
                                    <canvas></canvas>
                                    <div class="res" id="frd_res"></div>
                                    <div class="icons">
                                        <div class="icon1"><img src="/assets/images/icon/tj_icon1.png" alt=""></div>
                                        <div class="icon2"><img src="/assets/images/icon/tj_icon2.png" alt=""></div>
                                        <div class="icon3"><img src="/assets/images/icon/tj_icon3.png" alt=""></div>
                                    </div>
                                </div>
                                <div class="chart ie8" id="frdIe8">
                                    <p class="t">
                                        <label for="">总额</label>
                                        <b></b>
                                    </p>
                                    <p class="fr_1">
                                        <label for="">发展商家分润</label>
                                        <b></b>
                                    </p>
                                    <p class="fr_2">
                                        <label for="">推荐用户分润</label>
                                        <b></b>
                                    </p>
                                    <p class="fr_3">
                                        <label for="">消费返利</label>
                                        <b></b>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="cost">
                            <p class="total"></p>
                            <div class="time_qj">
                                <div class="se">
                                    <a class="btn btnl"></a>
                                    <div class="select_time">
                                        <div class="time_picker" id="stt2">
                                            <input type="text" class="start_date" readonly>
                                        </div>
                                        <b>~</b>
                                        <div class="time_picker" id="ett2">
                                            <input type="text" class="end_date" readonly>
                                        </div>
                                    </div>
                                    <a class="btn btnr"></a>
                                </div>
                            </div>
                            <div class="data fn-clear">
                                <div class="info" id="xf">
                                    <p class="t"></p>
                                    <p class="g g4"></p>
                                    <p class="g g5"></p>
                                </div>
                                <div class="chart">
                                    <canvas></canvas>
                                    <div class="res" id="xf_res"></div>
                                    <div class="icons">
                                        <div class="icon1"><img src="/assets/images/icon/tj_icon4.png" alt=""></div>
                                        <div class="icon2"><img src="/assets/images/icon/tj_icon5.png" alt=""></div>
                                    </div>
                                </div>
                                <div class="chart ie8 xfie8">
                                    <p class="t">
                                        <label for="">总额</label>
                                        <b></b>
                                    </p>
                                    <p class="fr_4">
                                        <label for="">线上消费</label>
                                        <b></b>
                                    </p>
                                    <p class="fr_5">
                                        <label for="">线下购物</label>
                                        <b></b>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="balance_detail sub hide">
            <div class="t_m">
                <a href="">账户余额</a>
                <img src="/assets/images/icon/icon_tm.png" alt="">
                明细详情
            </div>
            <div class="info">
                <div class="group active">
                    <div class="top">
                        <p class="tag">交易成功</p>
                        <img src="/assets/images/index/1.png" class="logo" alt="">
                        <p class="title">一个个公司名</p>
                        <p class="price">+100.00</p>
                    </div>
                    <div class="info">
                        <div><label>交易说明</label>推荐商户分润</div>
                        <div><label>入驻商户</label>火锅店就是我</div>
                        <div><label>创建时间</label>2017.01.01 12:11</div>
                    </div>
                </div>

                <div class="group">
                    <div class="top">
                        <p class="tag">交易成功</p>
                        <p class="title">一个个公司名2</p>
                        <p class="price">-100.00</p>
                    </div>
                    <div class="info">
                        <div><label>商品说明</label>火锅店</div>
                        <div><label>消费商家</label>火锅店就是我</div>
                        <div><label>创建时间</label>2017.01.01 12:11</div>
                    </div>
                </div>

                <div class="group">
                    <div class="top">
                        <p class="tag">交易成功</p>
                        <p class="title">中国农业银行</p>
                        <p class="price">-100.00</p>
                    </div>
                    <div class="info">
                        <div>
                            <label>提现说明</label>
                            <div class="status">
                                银购购余额 - 提现到银行卡
                                <p>付款成功 <span>2017.01.12 12:11</span></p>
                                <p class="two">银行处理中 <span>2017.01.12 12:11</span></p>
                                <p class="no last">到账成功 <span>2017.01.12 12:11</span></p>
                            </div>
                        </div>
                        <div><label>转入账户</label>火锅店就是我</div>
                        <div><label>到账时间</label>一天内到账</div>
                        <div><label>创建时间</label>2017.01.01 12:11</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        footer
    </div>

</body>
    <script data-main="/config" src="/plugins/require/require.js"></script>
    <script src="/controllers/personal/statistics.js"></script>
<html>
