<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>登录</title>

    <link href="../../assets/css/memberCss/main.css" rel='stylesheet' type="text/css">

</head>

<body>

    <section id='app' class='member login has_head'>

        <section class="head">
            <p>登录</p>
            <span v-on:click="back" class="close" href="/payment/views/payment/index.html"></span>
        </section>

        <section class="tab">
            <section class="tab_menu">
                <section class="active_bg" :class='[active==0?"":"rig"]'></section>
                <a v-on:click='tab(0)' :class='[active==0?"active":""]'>手机号快捷登录</a>
                <a v-on:click='tab(1)' :class='[active==0?"":"active"]'>密码登录</a>
            </section>
            <section class="tab_con">
                <form>
                    <section class="tab_group" :class='[active==0?"active":""]'>
                        <section class="form_group">
                            <p class="icon icon_phone">
                                <input v-model="phone" type="number" placeholder="请输入手机号码">
                            </p>
                        </section>
                        <section class="form_group">
                            <p class="icon icon_vercode">
                                <input v-model="vercode" type="number" placeholder="请输入验证码">
                                <get-vercode :mobile="phone" :sms_type="'0001'"></get-vercode>
                            </p>
                        </section>
                        <section class="form_group">
                            <p class="submit">
                                <input type="submit" @click="login1($event)" value="登录">
                            </p>
                            <!--<p class="other_login">-->
                                <!--<a href="otherLogin.html">其他登录方式</a>-->
                            <!--</p>-->
                        </section>
                    </section>
                </form>
                <form>
                    <section class="tab_group" :class='[active==1?"active":""]'>
                        <section class="form_group">
                            <p class="icon icon_phone">
                                <input v-model="userId" placeholder="请输入手机号">
                            </p>
                        </section>
                        <section class="form_group">
                            <p class="icon icon_pwd">
                                <input type="password" v-model="pwd" v-on:focus='$event.target.value=""' placeholder="请输入密码">  
                            </p>
                        </section>
                        <section class="form_group">
                            <p class="submit">
                                <input type="submit" @click="login2($event)" value="登录">
                            </p>
                            <!--<p class="other_login">-->
                                <!--<a href="otherLogin.html">其他登录方式</a>-->
                            <!--</p>-->
                            <!--<p class="submit">-->
                                <!--<input type="submit" @click="login2($event)" value="登录">-->
                            <!--</p>-->
                           
                        </section>
                    </section>
                </form>
            </section>
        </section>

        <section class="login_other hide">
            <p class="title">第三方登录</p>
            <section class="list">
                <a class="wechat"></a>
                <a class="qq"></a>
                <a class="weibo"></a>
            </section>
        </section>

        <!-- <section class="ver" v-show="vshow">
            <a class="close" @click="close"></a>
            <p class="t">请输入图形验证码</p>
            <p class="inp">
                <input type="number" v-model="ver" placeholder="按右图输入">
                <img src="/assets/images/index/demo1.jpg" alt="">
            </p>
            <a class="sub" @click="yzm">确定</a>
        </section> -->
        <!-- <section class="shadow" v-show="vshow"></section> -->
    </section>

</body>
<!-- <script data-main="/payment/config" src="/payment/plugins/require/require.js"></script>
<script src="/payment/controllers/user/login.js"></script> -->
<script data-main="../../config" src="../../plugins/require/require.js"></script>
<script src="../../controllers/znPay/login.js"></script>
<html>