@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; -webkit-tap-highlight-color:transparent}
body, h1, h2, h3, h4, h5, h6, hr, p,blockquote,dl, dt, dd, ul, ol, li,pre,form, fieldset, legend, button,input, textarea,th, td,img{border:medium none;margin: 0;padding: 0; outline:none;}
body,button, input, select, textarea {font: 16px/1.5 "微软雅黑",tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif; outline:none; -webkit-font-smoothing: antialiased; color: #1c1c1c}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
em{font-style:normal;}
ul, ol,li { list-style: none; }
a { text-decoration: none; color: #1c1c1c}
a:hover{ outline:none; color: #ff6f3d}
img{ border:0px;}
table { border-collapse: collapse; border-spacing: 0; }
html{ height:100%}
html,body{ color:#1c1c1c; min-height:100%; width:100%; overflow:hidden; overflow-y:auto; max-width:100%; left:0; right:0; position:relative}
.clear{ clear:both;}
.fn-clear:after{ content:""; display:block; clear:both}
.fn-left{ float: left; }
.fn-right{ float: right; }
.t-left{ text-align: left; }
.t-center{ text-align: center; }
.t-right{ text-align: right; }
.hide{ display:none}
.text-sl{ overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.hover-underline:hover{ text-decoration:underline; }

body{ background: #fbfcff }
body.bg{ background: url(../images/enter/register_bg.jpg) center top no-repeat }

/****************************************************************** 商户入驻 ******************************************************************/

.head{ height: 80px; box-shadow: 0 5px 10px #f3f5f9; background: white }
.head .con .hct{ color: #1c1c1c; font-size: 26px; line-height: 80px; height: 80px; margin-left: 20px}
.enter .part{ height: 37px; margin-top: 63px }
.enter .part a{ float: left; height: 37px; background-image: url(../images/enter/part.png); width: 240px; border-bottom: 2px solid #c2c9d0 }
.enter .part a.active{ background-position-y: 37px; border-color: #ff6f3d }
.enter .part a.two{ background-position-x: -240px }
.enter .part a.th{ background-image: url(../images/enter/03b.png);background-repeat: no-repeat;text-align: center;background-position:37px  0; }
.enter .part a.thactive {background-image: url(../images/enter/03.png);border-color: #ff6f3d}
.enter .part a.fo{ background-position-x: -720px }
.enter form{ width: 605px; margin: auto; padding-top: 40px; padding-bottom: 150px; display: none;}
.enter form .form_group.address .select{ float: left; width: 158px; padding: 1px; margin-right: 10px ;}
.enter form .form_group.address .addInput{ float: left; margin-top: 10px;width: 100%;position: relative; }
.enter form .form_group.address .addInput img {width: 18px;height: 18px;position: absolute;top:50%;right: 10px;margin-top: -9px;}
.enter form .form_group.address .addInput img:hover {cursor: pointer;}
.enter form .form_group .bank{ position: absolute; height: 48px; padding-right: 15px; right: 0; white-space: pre; padding-left: 10px; background: white; z-index: 2; top: 0 }
.enter form .uploader{ width: 510px; margin-right: -10px }
.enter form .info .g{ border: 1px solid #edeff5; padding: 15px 10px; margin-top: 10px; background: white }
.enter form .info .g img{ float: left; width: 40px; height: 40px; margin-right: 10px; border-radius: 50% }
.enter form .info .g .text{ width: 428px; float: left; }
.enter form .info .g .text .title{ font-size: 18px; line-height: 24px; height: 24px }
.enter form .info .g .text .title span{ float: right; font-size: 14px; color: #888 }
.enter form .info .g .text .cont{ font-size: 14px; color: #888; line-height: 21px; height: 21px }
.enter form .info .g .text .tel{ height: 23px; line-height: 23px; font-size: 14px; color: #888 }
.enter .result{ display: none }
.enter .result.empty:after{ content: "抱歉，没有搜到该品牌！" ; display: block; text-align: center; color: #888}
.enter .result.empty table{ display: none }
.enter .result>p{ text-align: center; line-height: 50px; height: 50px; margin-top: -60px; color: #888888 }
.enter .result table{ text-align: center; background: white}
.enter .result table thead tr{ background: #ebedf3; color: #888; line-height: 40px; height: 40px }
.enter .result table thead tr .f{ text-align: left; text-indent: 40px }
.enter .result table thead tr .t{ text-align: left; }
.enter .result table tbody tr{ border-bottom: 1px solid #cfd2da}
.enter .result table tbody tr td{ padding: 10px 0; line-height: 40px }
.enter .result table tbody tr .f{ text-align: left; padding-right: 15px; padding-left:60px }
.enter .result table tbody tr .f span{ line-height: 20px; vertical-align: middle; display: inline-block; }
.enter .result table tbody tr .f img{ float: left; margin-left:-50px; width: 40px; height: 40px; border-radius: 50% }
.enter .result table tbody tr .t{ text-align: left; }
.enter .result table tbody tr td a{ color: #ff6f3d; cursor: pointer; }
.enter .result table tbody tr td a:hover{ text-decoration: underline; }
.enter .popup{ background: white; border-radius: 5px; position: fixed; z-index: 1001; width: 390px; margin-left: -265px; left: 50%; top: 50%; margin-top: -105px; padding: 0 20px; display: none; height: 210px }
.enter .popup.popup1{ margin-left: -195px }
.enter .popup .close{ position: absolute; width: 24px; border-radius: 50%; height: 24px; top: -12px; right: -12px; background:url(../images/icon/uploader_del.png) center center no-repeat black; cursor: pointer; }
.enter .popup .title{ border-bottom: 1px solid #ececec; line-height: 2; padding: 15px 0; text-align: center; font-size: 18px }
.enter .xy.rname{ margin-left: 105px; margin-bottom: 0px; position: relative; z-index: 2 }
.enter .xy,.register .form form .xy{ margin-top: 20px; font-size: 14px; line-height: 1; margin-bottom: 40px; color: #888 }
.enter .xy span,.register .form form .xy span{ float: left; width: 12px; height: 12px; border: 1px solid #ff6f3d; border-radius: 3px; margin-right: 8px; cursor: pointer; }
.enter .xy span.active,.register .form form .xy span.active{ background: url(../images/icon/checked.png) center center no-repeat #ff6f3d }
.enter .xy a,.register .form form .xy a{ color: #ff6f3d }
.enter .xy a:hover,.register .form form .xy a:hover{ text-decoration: underline; }
.enter .popup .btn{ width: 100px; height: 40px; display: block; margin: 0 auto; font-size: 16px; line-height: 40px; margin-bottom: 30px }
.enter .popup .btn.confi_bind.none,#th.none{ background: #888; cursor: default; }
.enter form.last .form_group label{ width: 112px; margin-left: -127px }
.enter .form_group .prompt{ margin: -10px 0 -40px 0 }
/*密码登录*/
.pwd{
    overflow: hidden;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.line{
    color: #d3d3d3;
    padding: 0 5px 0;
    font-style: normal;
}
.grayColor{
    color: #ccc!important;
}

.marginTop{
    margin-top: 42px;
}

.before .tt{ height: 130px; line-height: 130px; text-align: center; font-size: 22px }
.before .tt span{ display: inline-block; height: 43px; line-height: 43px; padding: 0 8px; background: #fbf1f0 }
.before .tt span i{ display: inline-block; width: 22px; height: 22px; background: url(../images/icon/icon_i.png); margin-right: 8px; float: left; margin-top: 11px }
.before .tt span b{ font-weight: normal; color: #ff6f3d }
.before>img{ display: block; width: 100% }
.before>a{ display: block; margin: 58px auto 90px; width: 345px; height: 70px; line-height: 70px; text-align: center; font-size: 26px; background: #ff6f3d; border-radius: 5px; color: white }
.before>a:hover{ color: white }

.register .reback{ float: left; color: white; margin-top: 20px }
.register .prompt{ height: 14px; padding-top: 10px; line-height: 1; color: #f60000; font-size: 14px; text-align: center; }
.register .title{ padding-top: 105px; line-height: 1; font-size: 50px; text-align: center; color: white }
.register .text{ font-size: 30px; padding-top: 25px; color: white; text-align: center; line-height: 1.5 }
.register .form{ position: absolute; width: 640px; height: 417px; background: url(../images/enter/register_po.png); top: 290px; left: 50%; margin-left: -320px }
.register.login .form{ height: 290px; background: url(../images/enter/login_po.png); top: 310px }
.register .form form{ width: 505px; margin: 15px auto }
.register .form form .xy{ margin: 10px 0 20px }
.register .form form .xy b{ float: right; font-weight: normal; }
.register .form form .form_group{ border-bottom: 1px solid #e3e3e3; height: 65px; line-height: 65px; margin-bottom: 0; padding-left: 60px }
.register .form form .form_group input{ border: 0; height: 65px; text-indent: 0 }
.register .form form .form_group .inp.yzm{ padding-right: 85px }
.register .form form .form_group .inp.yzm a{ float: right; margin-right: -85px; margin-top: 24px; line-height: 1; color: #ff6f3d; cursor: pointer; text-decoration: underline}
.register .form form .form_group .inp.icon:before{ content: ""; float: left; margin-left: -60px; width: 38px; height: 22px; margin-top: 21.5px; border-right: 1px solid #1c1c1c; background-position: left center; background-repeat: no-repeat;padding-top: 1px; }
.register .form form .form_group .inp.phone:before{ background-image: url(../images/user/icon_tel.png) }
.register .form form .form_group .inp.yzm:before{ background-image: url(../images/user/icon_code.png) }
.register .form form .form_group .inp.email:before{ background-image: url(../images/user/icon_email.png) }
.register .form form .form_group .inp.showPsw:before{ background-image: url(../images/user/icon_pwd.png);}
.register .form form .form_group .inp.showPsw {position: relative;}
.register .form form .form_group .inp.showPsw .passWordImg {width: 28px;height: 14px;position:absolute;top: 50%;right: 0;margin-top: -7px; }
#container {float: left;margin-top: 10px;height: 170px;border: 1px solid #edeff5;width: 100%;}


.register .form form .form_group.submit input{ display: block; width: 140px; height: 46px; line-height: 46px; color: white; background: #ff6f3d; font-size: 20px; text-align: center; border-radius: 5px; cursor: pointer;margin: 0 auto }
.register .form form .form_group.submit input.no{ background: #888888; cursor: default; }
.register.login .form form .form_group.submit a{ margin-top: 40px }

.status{ width: 670px; margin: auto; text-align: center; display: none }
.status.in_audit{ display: block; }
.status .icon{ margin-top: 90px; height: 100px; background: url(../images/enter/status_i.png) center top no-repeat }
.status .text{ font-size: 30px; margin-top: 20px; height: 50px; line-height: 50px }
.status .cont{ color: #99a3ad; padding: 5px 0; line-height: 1.5 }
.status a.btn{ display: block; margin: 45px auto; width: 220px; height: 70px; line-height: 70px; color: white; background: #ff6f3d; text-align: center; border-radius: 5px; font-size: 26px }
.status.success .icon{ background-image: url(../images/enter/status_s.png)}
.status.success .text{ color: #55a5ff }
.status.success .cont{ color: #1c1c1c }
.status.success .url{ color: #55a5ff }
.status.error .icon{ background-image: url(../images/enter/status_e.png)}

.form_group{ margin-bottom: 10px; height: 48px; line-height: 48px; padding-left: 105px; position: relative; }
.form_group.no_hei{ height: auto; }
.form_group label{ float: left; width: 96px; text-align: right; margin-left:-111px; }
.form_group label.long{ width: 116px; margin-left: -131px }
.form_group .inp input{ width: 100%; margin: -1px }
.form_group:after{ content: ""; display: block; clear: both }
.form_group.submit .btn{ float: left; width: 230px; height: 70px; line-height: 70px; margin-top: 50px; text-indent: 0}
.form_group.search .btn{ position: absolute; right: 0; top: 0; font-size: 16px; width: 63px; border-radius: 0 }
.form_group.search .inp p{ font-size: 14px; line-height: 40px }
.form_group.card .uploader>div{ width: 243px; margin-right: 10px }
.form_group.card .uploader.zm .add{ background-image: url(../images/icon/icard_z.png) }
.form_group.card .uploader.bm .add{ background-image: url(../images/icon/icard_b.png) }
.form_group.time .inp input{ background: url(../images/icon/icon_time.png) 466px center no-repeat white }
.form_group .prompt{ color: red; font-size: 14px }
.form_group.submit .prev{ float: left; width: 228px; height: 68px; line-height: 68px; margin-top: 50px; text-indent: 0; border: 1px solid #ff6f3d;cursor: pointer;border-radius: 6px;font-size: 26px; color: #ff6f3d; text-align: center; margin-right: 24px}
.form_group.submit .prev+.btn{ margin-right: -50px }
/*.form_group .inp .f_img {width: 200px;height: 100px}*/

.select{ position: relative; height: 46px; cursor: pointer;}
.select:before{ content: ""; position: absolute; border: 4px solid transparent; border-top: 6px solid #ff6f3d; right: 15px; top: 20px; z-index: 2 }
.select input{ width: 100%; height: 100%; cursor: pointer; margin: -1px }
.select .options{ position: absolute; max-height: 322px; line-height: 46px; width: 100%; overflow: auto; background: white; z-index: 10; border: 1px solid #edeff5; border-top: 0 ; display: none; height: auto }
.select .options.op_show{ display: block; }
.select .options a{ display: block; height: 46px; text-indent: 15px; cursor: pointer; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;  }
.select .options a:hover{ color: white; background: #ff6f3d }

.uploader{ width: 100%; position: relative; }
.uploader>div{ float: left; width: 158px; height: 158px; border: 1px solid #edeff5; margin-right: 10px; background: url(../images/icon/icon_uploader.png) center 49px no-repeat white; position: relative; }
.uploader>div p{ padding-top: 80px; line-height: 1; font-size: 14px; color: #99a3ad; text-align: center; }
.uploader>div input{ position: absolute; width: 100%; height: 100%; opacity: 0; filter: alpha(opacity=0); cursor: pointer; }
.uploader>div .delete{ position: absolute; right: 0; width: 24px; height: 24px; background: url(../images/icon/uploader_del.png) center center no-repeat #ff6f3d; cursor: pointer; }
.uploader>div img{ width: 100%; height: 100% }

input{ border: 1px solid #edeff5; height: 46px; line-height: 46px; border-radius: 3px; text-indent: 15px}
.con{ margin: auto; width: 1180px }
.con_m{ width: 960px }
.btn{ color: white; background: #ff6f3d; text-align: center; cursor: pointer; border-radius: 6px; font-size: 26px }
.btn:hover{ color: white }
.no-margin-r{ margin-right: 0 !important }
.no-bor{ border: 0 !important }
.shadow{ background: black; width: 100%; height: 100%; position: fixed; z-index: 1000; opacity: .5; filter: alpha(opacity=50); top: 0; left: 0; display: none}
.hover_de{ cursor: default !important; text-decoration: none !important; }

.promptp{ position: fixed; background: white; border-radius: 8px; left: 50%; top: 50%; width: 270px; height: 146px; margin-top: -73px; margin-left: -135px; z-index: 1001; text-align: center; }
.promptp .title{ text-align: center; line-height: 80px; height: 80px; font-size: 20px }
.promptp a{ display: inline-block; width: 98px; height: 38px; margin: 0 10px; border: 1px solid #ff6f3d; color: white; background: #ff6f3d; border-radius: 5px; text-align: center; line-height: 38px; cursor: pointer;}
.promptp a.canle{ background: white; color: #ff6f3d }
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
#userName2{ border: 0; background: none }
.popup{ width: 380px; height: 320px; padding: 0 20px; background: white; border-radius: 5px; position: fixed; z-index: 1001; margin: -160px -210px; left: 50%; top: 50%; display: none; }
.popup .close{ position: absolute; width: 24px; height: 24px; right: -12px; top: -12px; background: url(../images/icon/p_close.png) center center no-repeat black; border-radius: 50%; cursor: pointer; }
.popup .title{ height: 55px; line-height: 55px; font-size: 20px; text-align: center; border-bottom: 1px solid #ececec }

.ap_popup .text{ margin-top: 15px; height: 36px; line-height: 36px; font-weight: bold; }
.ap_popup .form_group .radio{ height: 52px; line-height: 52px; border-bottom: 1px solid #ececec }
.ap_popup .form_group.submit a,.ap_popup_explain .form_group.submit a{ width: 100px; height: 40px; line-height: 40px; padding: 0; text-align: center; display: block; margin: 30px auto 0 }

.yhxx{ cursor: pointer; position: relative; z-index: 8 }
.ap_popup_explain,.yhxx_popup{ width: 590px; height: 550px; margin: -275px -295px}
.ap_popup_explain .content,.yhxx_popup .content{ height: 355px; padding-bottom: 15px; overflow: auto; font-size: 14px }
.ap_popup_explain .content p,.yhxx_popup .content p{ margin-top: 22px }
.ap_popup_explain .content p.sb,.yhxx_popup .content p.sb{ margin-left: 15px; margin-top: 10px }
.yhxx_popup .content{ height: 455px }
.time_picker{ width: 100%; float: left;font-size: 14px }
.time_picker>input{ width: 100%; cursor: pointer; }
.calender{ width: 290px; height: 295px; background: white; border-radius: 3px; position: absolute; z-index: 999; border: 1px solid #f2f2f2; display: none;}
.calender .getyear{ height: 17px; margin: 22px }
.calender .getyear select{ float: left; width: 100px; margin-left: 60px; font-size: 14px; border: 0; cursor: pointer; }
.calender .getyear>a{ cursor: pointer; }
.calender .getyear .preMonth{ background: url(../images/icon/time_picker_l.png); float: left; width: 17px; height: 17px }
.calender .getyear .nextMonth{ background: url(../images/icon/time_picker_r.png); float: right; width: 17px; height: 17px }
.calender table{ margin: 0 25px; width: 245px }
.calender table tr{ height: 35px; line-height: 35px }
.calender table td{ width: 35px; height: 35px; text-align: center; font-size: 14px; cursor: pointer;}
.calender table td p{ display: block; font-weight: normal; width: 28px; height: 28px; margin: 3.5px auto; border-radius: 50%; line-height: 28px }
.calender table .tdtoday p,.calender table td:hover p{ background: #ff6f3d; color: white }
.loading{ width: 100%; height: 100%; position: fixed; left: 0; top: 0; z-index: 9999; background: url(../images/loading-go.gif) center center no-repeat; display: none; }
.yhxy{ cursor: pointer; }
.paging{ padding: 70px 0; text-align: center; height: 40px; line-height: 40px; text-align: center; font-size: 20px }
.paging a{ display: inline-block; width: 40px; background: white; margin-right: 3px; position: relative; height: 40px; cursor: pointer;}
.paging a.active,.paging a:hover{ color: white; background: #ff6f3d }
.paging a.prev{ margin-right: 13px;}
.paging a.prev:after{ content:""; position: absolute; border: 6px solid transparent; border-right: 9px solid #ff6f3d; top: 50%; margin-top: -6px; left: 50%; margin-left: -10px}
.paging a.prev:hover:after{ border-right-color: white }
.paging a.next{ margin-left: 10px;}
.paging a.next:after{ content:""; position: absolute; border: 6px solid transparent; border-left: 9px solid #ff6f3d; top: 50%; margin-top: -6px; right: 50%; margin-right: -10px}
.paging a.next:hover:after{ border-left-color: white }
.paging a.more{ background: none; line-height: 20px }
.paging a.more:hover{ background: none; color: #1c1c1c; cursor: default }

.ap_popup_explain,.yhxx_popup{ width: 590px; height: 550px; margin: -275px -295px}
.ap_popup_explain .content,.yhxx_popup .content{ height: 355px; padding-bottom: 15px; overflow: auto; font-size: 14px }
.ap_popup_explain .content p,.yhxx_popup .content p{ margin-top: 22px }
.ap_popup_explain .content p.sb,.yhxx_popup .content p.sb{ margin-left: 15px; margin-top: 10px }
.ap_popup_explain .form_group .checkbox{ height: 50px; line-height: 50px }
.ap_popup_explain .form_group.submit a{ margin-top: 10px }
.yhxx_popup .content{ height: 455px }

.pay_popup{ width: 426px; height: 480px; margin: -240px -213px }
.pay_popup .title{ visibility: hidden }
.pay_popup .title:before{ content: ""; display: inline-block; width: 26px; height: 22px; background: url(../images/icon/pay_wechat.png); margin-right: 8px; margin-bottom: -3px }
.pay_popup .money{ height: 44px; line-height: 44px; position: absolute; margin-top: -44px}
.pay_popup .money span{ color: #ff6f3d }
.pay_popup .money span b{ font-size: 26px; font-weight: normal; }
.pay_popup .ewm{ border: 1px solid #ececec; width: 280px; height: 330px; margin:auto; text-align: center; color: #888; position: relative; margin-top: 44px }
.pay_popup .ewm img{ display: block; width: 220px; height: 220px; margin: 24px auto 20px}
.pay_popup .ewm p span{ color: #ff6f3d }

.my_card{ padding-top: 60px }
.my_card .myc{ width: 540px; margin: 0 auto 120px }
.my_card .myc .left{ width: 266px; height: 174px; border-radius: 8px; background: white; padding: 17px; float: left; }
.my_card .myc .left .t{ font-size: 18px; line-height: 1; padding-bottom: 20px }
.my_card .myc .left .eem .qrcode{ float: left; width: 80px; height: 80px; margin-right: 26px }
.my_card .myc .left .eem p{ font-size: 12px; float: left; width:160px; }
.my_card .myc .left .eem p span{ display: block; font-size: 15px; font-weight: bold; line-height: 1; margin-bottom: 14px }
.my_card .myc .left .eem p span:after{ content: ""; display: block; width: 14px; height: 3px; background: black; margin-top: 15px }
.my_card .myc .left .eem a{ color: #ff6f3d; cursor: pointer; border: 1px solid #ff6f3d; padding: 0 10px; line-height: 24px; height: 24px; float: left; margin-top: 8px; border-radius: 15px; font-size: 12px }
.my_card .myc .left .eem b{ display: block; font-weight: normal; font-size: 12px; word-break: break-all; color: #888;overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100%; padding-top: 7px}
.my_card .myc .left .share{ position: relative; clear: both; padding-top: 20px }
.my_card .myc .left .share:before{ content: "分享至"; display: block; width: 46px; margin: auto; background: white; line-height: 1; font-size: 12px; position: relative; z-index: 2 }
.my_card .myc .left .share:after{ content: ""; position: absolute; width: 100%; border-top: 1px solid #e3e3e3; top: 26px; left: 0 }
.my_card .myc .left .share a{ width: 20px; height: 20px; background-image: url(../images/icon/icon_share2.png); margin: 10px 14px }
.my_card .myc .share a.qq_q{ background-position: 20px top }
.my_card .myc .share a.wechat{ background-position: 40px top }
.my_card .myc .share a.wei{ background-position: 60px top }
.my_card .myc .share a.weibo{ background-position: 80px top }
.my_card .myc .right{ width: 200px; float: right; font-size: 14px; line-height: 38px; height: 38px }
.my_card .myc .right p{ white-space: pre}
.my_card .myc .right span{ color: #ff6f3d }
.my_card .myc .right a{ margin-top: 46px; line-height: 1; color: #ff6f3d; float: left; }
.my_card .myc .right a:hover{ cursor: pointer; text-decoration: underline; }
.ap_popup_explain.popup_mc .content{ height: 455px }