<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport">
    <title></title>

    <link href="/assets/css/main.css" rel='stylesheet' type="text/css">
    <link href="/plugins/swiper/swiper.css" rel='stylesheet' type="text/css">

</head>
<body>
    
    <section id='app' class='order_dis_detail has_head'>

        <section class="head">
            <a class="back"></a>
            <p>优惠券订单详情</p>
        </section>
        
        <section class="info">
            <section class="dis_info fn-clear">
                <img src="/assets/images/index/demo3.jpg">
                <section class="text isuse">
                    <p class="type">共享券</p>
                    <p class="price"><span>80</span>元 <span>100元</span></p>
                </section>
            </section>

            <section class="my_comment">
                <p class="t">我的评价</p>
                <p class="title">小胖日式烤肉店(复城店）</p>
                <section class="score_star">
                    <a class="active"></a>
                    <a class="active"></a>
                    <a class="active"></a>
                    <a class="active"></a>
                    <a></a>
                    <label>4.0分</label>
                </section>
                <p class="content">吃的还好，就是空调坏了，太热了。吃的还好，就是空调坏了，太热了。</p>
            </section>
            
            <section class="shop_info">
                <section class="nouse hide">
                    <p class="t">发券商家</p>
                    <a class="phone" href="tel:1334567894"></a>
                    <p class="title">小胖日式烤鸡店</p>
                    <a class="address">成都市这边那边的地方</a>
                </section>
                <section class="ause">
                    <p class="t">商家信息</p>
                    <p class="arow">
                        发券商家
                        <span class="text-sl">小胖日式烤肉店(复城店）</span>
                    </p>
                    <p class="arow">
                        消费商家
                        <span class="text-sl">小胖日式烤鸡店</span>
                    </p>
                </section>
            </section>
            <section class="order_detail">
                <p class="t">订单详情</p>
                <p>
                    <label>订单号：</label>
                    8978 887 55544
                </p>
                <p>
                    <label>下单时间：</label>
                    2017.07.12 12:20
                </p>
                <p>
                    <label>实付：</label>
                    ￥80.22
                </p>
            </section>
        </section>
        
        <a class="again" href="">再来一张</a>

    </section>

</body>
    <script data-main="/config" src="/plugins/require/require.js"></script>
    <script src="/controllers/my/orderDisDetail.js"></script>
<html>
